html {
    box-sizing: border-box;
    height: 100vh;
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    background:#fff;
    color:#000;
  }

//////////////////////// DIRECTORY ////////////////////////

#start {
    padding-left: 30px;
    padding-top: 10px;
}

.wrapper {
    padding: 30px;
}

.top {
    margin: 0px;
    display: contents;
    font-size: 2rem;
    font-weight: 300;
    width: 300px;
}

.top p {
    width: 300px;
    margin: 0 !important;
    margin-block-end: 0 !important;
    margin-block-start: 0 !important;
}

#start-directory {
    top: 153px;
    display: inline-block;
    margin-top: 65px;
    height: 400px;
    width: 550px;
    margin-right: 0;
}

.about{
    display: block;
    text-align: left; 
    top: 153px;
    position: absolute;
    font-size: 5rem;
    font-weight: 900;
    color: gray;
}

.about:before{
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}

.about:hover:before{
    width: 100%;
}

.projects{
    display: block;
    text-align: left; 
    top: 250px;
    position: absolute;
    font-size: 5rem;
    font-weight: 900;
    color: gray;
}

.projects:before{
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}

.projects:hover:before{
    width: 100%;
}
  
.employment{
    display: block;
    text-align: left; 
    top: 352px;
    position: absolute;
    font-size: 5rem;
    font-weight: 900;
    color: gray;
}

.employment:before{
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}

.employment:hover:before{
    width: 100%;
}

.education{
    display: block;
    text-align: left; 
    top: 458px;
    position: absolute;
    font-size: 5rem;
    font-weight: 900;
    color: gray;
}

.education:before{
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}

.education:hover:before{
    width: 100%;
}

//////////////////////// CONTENT ////////////////////////

#content-box {
    display: flex;
    flex-direction: column;
    height: 630px;
    width: 670px;
    float: right;
    border: 1px solid black;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; 
}

.slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    scroll-behavior: smooth;
    scroll-snap-align: start;
}

//////////////////////// FOOTER ////////////////////////

#start-icons {
    display: inline-block;
    margin-top: 60px;
    font-size: 1.5rem;
    width: 500px;
}

.fas {
    margin: 12px;
}

.fab {
    margin: 10px
}

a {
    text-decoration: none;
    color: #000;
}

