html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  background: #fff;
  color: #000;
}

@media only screen and (max-width: 425px) {
  * {
    overflow: visible;
  }
  .wrapper {
    width: 100%;
  }
  #start {
    display: block;
    width: 97%;
    height: 100%;
    margin: auto;
  }
  .top {
    display: block;
    width: 100%;
  }
  #profile {
    display: block;
    width: 100%;
  }
  #profile-picture {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 120px;
    background-color: beige;
    margin-top: 4.8%;
  }
  #profile-picture img {
    -o-object-fit: contain;
       object-fit: contain;
    height: inherit;
    width: auto;
    display: block;
  }
  #profile-intro {
    margin-top: 4.8%;
    float: right;
    width: 62%;
    height: 130px;
    vertical-align: top;
  }
  .hi {
    vertical-align: top;
    font-size: 1.5rem;
    font-weight: 500;
  }
  #profile-intro p {
    margin: 2% 0;
    font-size: 0.8rem;
    font-weight: 100;
  }
  .contact {
    display: block;
    text-align: center;
    margin: 5% 0;
  }
  .contact h4 {
    display: none;
  }
  .contact-details {
    font-size: 0.8rem;
    font-weight: 100;
    text-align: left;
  }
  .ab {
    display: inline-block;
    width: 180px;
    margin: 0;
  }
  .ab a {
    color: black;
  }
  #start-directory {
    display: block;
    width: 100%;
  }
  #profile-about {
    display: block;
    width: 100%;
    height: 50%;
  }
  #about-container {
    display: block;
    width: 95%;
    height: 100%;
    margin: auto;
  }
  #about-container div {
    font-size: 0.9rem;
    margin: 2% 0;
  }
  #about-container ul {
    margin: 1% 0;
  }
  #about-container ul li {
    font-weight: 100;
    font-size: 0.8rem;
  }
  .projects {
    display: none;
    text-align: left;
    margin-left: 2%;
    bottom: 22%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
  }
  .employment {
    display: none;
    text-align: left;
    margin-left: 2%;
    bottom: 14%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
  }
  .education {
    display: none;
    text-align: left;
    margin-left: 2%;
    bottom: 6%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
  }
  #content-box {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  #projects-content {
    height: 155%;
  }
  .slide {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 100%;
    padding: 2.1% 2%;
    scroll-behavior: smooth;
    text-align: left;
    font-weight: 100;
  }
  .slide h3 {
    font-weight: 900;
    font-size: 1.2rem;
  }
  .slide h5 {
    font-weight: 700;
    font-size: 1rem;
    margin: 6% 0 2% 0;
  }
  .slide p {
    font-weight: 100;
    font-size: 0.8rem;
    margin: 4% 0 1% 0;
  }
  .slide a {
    margin-right: 10%;
    font-size: 0.8rem;
  }
  .slide ul {
    margin: 4% 0 4% 0;
  }
  .slide ul li {
    font-size: 0.8rem;
  }
  .info {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .location {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
  }
  .year {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .ed-info {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .ed-year {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .margin {
    margin-top: 20px;
  }
  #education-content p {
    display: block;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 577px) {
  * {
    overflow: visible;
  }
  .wrapper {
    width: 100%;
  }
  #start {
    display: block;
    width: 97%;
    height: 100%;
    margin: auto;
  }
  .top {
    display: block;
    width: 100%;
  }
  #profile {
    display: block;
    width: 100%;
  }
  #profile-picture {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 120px;
    background-color: beige;
    margin-top: 4.8%;
  }
  #profile-picture img {
    -o-object-fit: contain;
       object-fit: contain;
    height: inherit;
    width: auto;
    display: block;
  }
  #profile-intro {
    margin-top: 4.8%;
    float: right;
    width: 62%;
    height: 130px;
    vertical-align: top;
  }
  .hi {
    vertical-align: top;
    font-size: 1.5rem;
    font-weight: 500;
  }
  #profile-intro p {
    margin: 2% 0;
    font-size: 0.8rem;
    font-weight: 100;
  }
  .contact {
    display: block;
    text-align: center;
    margin: 5% 0;
  }
  .contact h4 {
    display: none;
  }
  .contact-details {
    font-size: 0.8rem;
    font-weight: 100;
    text-align: left;
  }
  .ab {
    display: inline-block;
    width: 180px;
    margin: 0;
  }
  .ab a {
    color: black;
  }
  #start-directory {
    display: block;
    width: 100%;
  }
  #profile-about {
    display: block;
    width: 100%;
    height: 50%;
  }
  #about-container {
    display: block;
    width: 95%;
    height: 100%;
    margin: auto;
  }
  #about-container div {
    font-size: 0.9rem;
    margin: 2% 0;
  }
  #about-container ul {
    margin: 1% 0;
  }
  #about-container ul li {
    font-weight: 100;
    font-size: 0.8rem;
  }
  .projects {
    display: none;
    text-align: left;
    margin-left: 2%;
    bottom: 22%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
  }
  .employment {
    display: none;
    text-align: left;
    margin-left: 2%;
    bottom: 14%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
  }
  .education {
    display: none;
    text-align: left;
    margin-left: 2%;
    bottom: 6%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
  }
  #content-box {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  #projects-content {
    height: 155%;
  }
  .slide {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 100%;
    padding: 2.1% 2%;
    scroll-behavior: smooth;
    text-align: left;
    font-weight: 100;
  }
  .slide h3 {
    font-weight: 900;
    font-size: 1.2rem;
  }
  .slide h5 {
    font-weight: 700;
    font-size: 1rem;
    margin: 6% 0 2% 0;
  }
  .slide p {
    font-weight: 100;
    font-size: 0.8rem;
    margin: 4% 0 1% 0;
  }
  .slide a {
    margin-right: 10%;
    font-size: 0.8rem;
  }
  .slide ul {
    margin: 4% 0 4% 0;
  }
  .slide ul li {
    font-size: 0.8rem;
  }
  .info {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .location {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
  }
  .year {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .ed-info {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .ed-year {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .margin {
    margin-top: 20px;
  }
  #education-content p {
    display: block;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 749px) {
  * {
    overflow: visible;
  }
  .wrapper {
    width: 100%;
  }
  #start {
    display: block;
    width: 75%;
    height: 100%;
    margin: auto;
  }
  .top {
    display: block;
    width: 100%;
  }
  #profile {
    display: block;
    width: 100%;
  }
  #profile-picture {
    display: inline-block;
    vertical-align: top;
    width: 135px;
    height: 135px;
    background-color: beige;
    margin-top: 4.8%;
  }
  #profile-picture img {
    -o-object-fit: contain;
       object-fit: contain;
    height: inherit;
    width: auto;
    display: block;
  }
  #profile-intro {
    margin-top: 4.8%;
    float: right;
    width: 62%;
    height: 130px;
    vertical-align: top;
  }
  .hi {
    vertical-align: top;
    font-size: 1.5rem;
    font-weight: 500;
  }
  #profile-intro p {
    margin: 2% 0;
    font-size: 0.8rem;
    font-weight: 100;
  }
  .contact {
    display: block;
    text-align: center;
    margin: 5% 0;
  }
  .contact h4 {
    display: none;
  }
  .contact-details {
    font-size: 0.8rem;
    font-weight: 100;
    text-align: left;
  }
  .ab {
    display: inline-block;
    width: 180px;
    margin: 0;
  }
  .ab a {
    color: black;
  }
  #start-directory {
    display: block;
    width: 100%;
  }
  #profile-about {
    display: block;
    width: 100%;
    height: 50%;
  }
  #about-container {
    display: block;
    width: 95%;
    height: 100%;
    margin: auto;
  }
  #about-container div {
    font-size: 0.9rem;
    margin: 2% 0;
  }
  #about-container ul {
    margin: 1% 0;
  }
  #about-container ul li {
    font-weight: 100;
    font-size: 0.8rem;
  }
  .projects {
    display: none;
    text-align: left;
    margin-left: 2%;
    bottom: 22%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
  }
  .employment {
    display: none;
    text-align: left;
    margin-left: 2%;
    bottom: 14%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
  }
  .education {
    display: none;
    text-align: left;
    margin-left: 2%;
    bottom: 6%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
  }
  #content-box {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  #projects-content {
    height: 155%;
  }
  .slide {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 100%;
    padding: 2.1% 2%;
    scroll-behavior: smooth;
    text-align: left;
    font-weight: 100;
  }
  .slide h3 {
    font-weight: 900;
    font-size: 1.2rem;
  }
  .slide h5 {
    font-weight: 700;
    font-size: 1rem;
    margin: 6% 0 2% 0;
  }
  .slide p {
    font-weight: 100;
    font-size: 0.8rem;
    margin: 4% 0 1% 0;
  }
  .slide a {
    margin-right: 10%;
    font-size: 0.8rem;
  }
  .slide ul {
    margin: 4% 0 4% 0;
  }
  .slide ul li {
    font-size: 0.8rem;
  }
  .info {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .location {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
  }
  .year {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .ed-info {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .ed-year {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .margin {
    margin-top: 20px;
  }
  #education-content p {
    display: block;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 960px) {
  * {
    overflow: visible;
  }
  .wrapper {
    width: 100%;
  }
  #start {
    display: block;
    width: 80%;
    height: 100%;
    margin: auto;
  }
  .top {
    display: block;
    width: 100%;
    height: 27vh;
  }
  #profile {
    display: block;
    width: 100%;
  }
  #profile-picture {
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 180px;
    height: 180px;
    background-color: beige;
    margin-top: 4.8%;
  }
  #profile-picture img {
    -o-object-fit: contain;
       object-fit: contain;
    height: inherit;
    width: auto;
    display: block;
  }
  #profile-intro {
    margin-top: 4.8%;
    float: right;
    width: 67%;
    height: 110px;
    vertical-align: top;
  }
  .hi {
    vertical-align: top;
    font-size: 2rem;
    font-weight: 500;
  }
  #profile-intro p {
    margin: 2% 0;
    font-size: 0.9rem;
    font-weight: 100;
  }
  .contact {
    display: block;
    width: 67%;
    text-align: center;
    float: right;
    margin: 2% 0 2% 0;
  }
  .contact h4 {
    display: none;
  }
  .contact-details {
    font-size: 0.9rem;
    font-weight: 100;
    text-align: left;
  }
  .ab {
    display: inline-block;
    width: 200px;
    margin: 0;
  }
  .ab a {
    color: black;
  }
  #start-directory {
    display: block;
    width: 100%;
  }
  #profile-about {
    display: block;
    width: 100%;
    height: 50%;
  }
  #about-container {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  #about-container div {
    font-size: 1rem;
    margin: 2% 0;
  }
  #about-container ul {
    margin: 1% 0;
  }
  #about-container ul li {
    font-weight: 100;
    font-size: 0.9rem;
  }
  .projects {
    display: none;
    text-align: left;
    margin-left: 2%;
    bottom: 22%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
  }
  .employment {
    display: none;
    text-align: left;
    margin-left: 2%;
    bottom: 14%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
  }
  .education {
    display: none;
    text-align: left;
    margin-left: 2%;
    bottom: 6%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
  }
  #content-box {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  #projects-content {
    height: 155%;
  }
  .slide {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 100%;
    padding: 2.1% 2%;
    scroll-behavior: smooth;
    text-align: left;
    font-weight: 100;
  }
  .slide h3 {
    font-weight: 900;
    font-size: 1.5rem;
  }
  .slide h5 {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 4% 0 2% 0;
  }
  .slide p {
    font-weight: 100;
    font-size: 0.9rem;
    margin: 3% 0 1% 0;
  }
  .slide a {
    margin-right: 10%;
    font-size: 0.9rem;
  }
  .slide ul {
    margin: 4% 0 4% 0;
  }
  .slide ul li {
    font-size: 0.9rem;
  }
  .info {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .location {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
  }
  .year {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .ed-info {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .ed-year {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .margin {
    margin-top: 20px;
  }
  #education-content p {
    display: block;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1198px) {
  .wrapper {
    display: flexbox;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    height: 98vh;
  }
  #start {
    display: block;
    width: 80%;
    height: 100%;
    margin: auto;
  }
  .top {
    display: block;
    width: 100%;
    height: 30%;
    margin-bottom: 1.7%;
  }
  #profile {
    display: block;
    height: 100%;
    width: 100%;
  }
  #profile-picture {
    float: left;
    vertical-align: top;
    width: 200px;
    height: 200px;
    background-color: beige;
    margin-top: 4.8%;
  }
  #profile-picture img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 200px;
    width: auto;
    display: block;
  }
  #profile-intro {
    margin-top: 4.8%;
    margin-bottom: 2%;
    float: right;
    width: 67%;
    vertical-align: top;
  }
  .hi {
    vertical-align: top;
    font-size: 2.1rem;
    font-weight: 500;
  }
  .contact {
    display: block;
    width: 67%;
    text-align: center;
    float: right;
  }
  .contact-details {
    font-size: 0.95rem;
    font-weight: 100;
    text-align: left;
  }
  .ab {
    display: inline-block;
    width: 210px;
    margin: 0;
  }
  .ab a {
    color: black;
  }
  #profile-intro p {
    font-weight: 100;
    font-size: 1rem;
  }
  #start-directory {
    display: inline-block;
    float: left;
    height: 65%;
    width: 200px;
    vertical-align: top;
    margin-top: 3%;
  }
  #start-directory h1 {
    margin: 0;
  }
  #profile-about {
    display: block;
    width: 100%;
    height: 50%;
  }
  #about-container {
    display: block;
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 4% 3%;
    font-weight: 100;
    font-size: 0.9rem;
  }
  #about-container div {
    font-size: 1rem;
    font-weight: 500;
  }
  #about-container ul {
    -webkit-padding-start: 4%;
            padding-inline-start: 4%;
  }
  #about-container ul li {
    font-weight: 100;
    font-size: 0.9rem;
  }
  .projects {
    display: block;
    text-align: left;
    margin-left: 2%;
    bottom: 19%;
    position: absolute;
    font-size: 2.3rem;
    font-weight: 900;
    color: gray;
  }
  .projects:before {
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .projects:hover:before {
    width: 100%;
  }
  .employment {
    display: block;
    text-align: left;
    margin-left: 2%;
    bottom: 13%;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 900;
    color: gray;
  }
  .employment:before {
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .employment:hover:before {
    width: 100%;
  }
  .education {
    display: block;
    text-align: left;
    margin-left: 2%;
    bottom: 7%;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 900;
    color: gray;
  }
  .education:before {
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .education:hover:before {
    width: 100%;
  }
  #content-box {
    display: inline-block;
    float: right;
    vertical-align: top;
    height: 67%;
    width: 69%;
    overflow-y: scroll;
  }
  #projects-content {
    height: 160%;
  }
  .slide {
    width: 96%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 105%;
    padding: 2.1% 2%;
    scroll-behavior: smooth;
    text-align: left;
    font-weight: 100;
  }
  .slide h5 {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 4% 0 2% 0;
  }
  .slide h3 {
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 0.6em;
  }
  .slide p {
    font-weight: 100;
    font-size: 0.95rem;
    margin: 3% 0 1% 0;
  }
  .slide a {
    margin-right: 10%;
    font-size: 0.9rem;
  }
  .slide ul {
    margin: 1% 0 5% 0;
  }
  .info {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .location {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
  }
  .year {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .ed-info {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .ed-year {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .margin {
    margin-top: 20px;
  }
  #education-content p {
    display: block;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1199px) and (max-width: 1276px) {
  .wrapper {
    display: flexbox;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    height: 98vh;
  }
  #start {
    display: block;
    width: 75%;
    height: 100%;
    margin: auto;
  }
  .top {
    display: block;
    width: 100%;
    height: 30%;
    margin-bottom: 1.7%;
  }
  #profile {
    display: block;
    height: 100%;
    width: 100%;
  }
  #profile-picture {
    float: left;
    vertical-align: top;
    width: 200px;
    height: 200px;
    background-color: beige;
    margin-top: 4.8%;
  }
  #profile-picture img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 200px;
    width: auto;
    display: block;
  }
  #profile-intro {
    margin-top: 4.8%;
    margin-bottom: 2%;
    float: right;
    width: 67%;
    vertical-align: top;
  }
  .hi {
    vertical-align: top;
    font-size: 2.1rem;
    font-weight: 500;
  }
  .contact {
    display: block;
    width: 67%;
    text-align: center;
    float: right;
  }
  .contact-details {
    font-size: 0.95rem;
    font-weight: 100;
    text-align: left;
  }
  .ab {
    display: inline-block;
    width: 215px;
    margin: 0;
  }
  .ab a {
    color: black;
  }
  #profile-intro p {
    font-weight: 100;
    font-size: 1rem;
  }
  #start-directory {
    display: inline-block;
    float: left;
    height: 65%;
    width: 200px;
    vertical-align: top;
    margin-top: 3%;
  }
  #start-directory h1 {
    margin: 0;
  }
  #profile-about {
    display: block;
    width: 100%;
    height: 50%;
  }
  #about-container {
    display: block;
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 4% 3%;
    font-weight: 100;
    font-size: 0.9rem;
  }
  #about-container div {
    font-size: 1rem;
    font-weight: 500;
  }
  #about-container ul {
    -webkit-padding-start: 4%;
            padding-inline-start: 4%;
  }
  #about-container ul li {
    font-weight: 100;
    font-size: 0.9rem;
  }
  .projects {
    display: block;
    text-align: left;
    margin-left: 2%;
    bottom: 19%;
    position: absolute;
    font-size: 2.3rem;
    font-weight: 900;
    color: gray;
  }
  .projects:before {
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .projects:hover:before {
    width: 100%;
  }
  .employment {
    display: block;
    text-align: left;
    margin-left: 2%;
    bottom: 13%;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 900;
    color: gray;
  }
  .employment:before {
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .employment:hover:before {
    width: 100%;
  }
  .education {
    display: block;
    text-align: left;
    margin-left: 2%;
    bottom: 7%;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 900;
    color: gray;
  }
  .education:before {
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .education:hover:before {
    width: 100%;
  }
  #content-box {
    display: inline-block;
    float: right;
    vertical-align: top;
    height: 67%;
    width: 69%;
    overflow-y: scroll;
  }
  #projects-content {
    height: 160%;
  }
  .slide {
    width: 96%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 105%;
    padding: 2.1% 2%;
    scroll-behavior: smooth;
    text-align: left;
    font-weight: 100;
  }
  .slide h5 {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 4% 0 2% 0;
  }
  .slide h3 {
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 0.6em;
  }
  .slide p {
    font-weight: 100;
    font-size: 0.95rem;
    margin: 3% 0 1% 0;
  }
  .slide a {
    margin-right: 10%;
    font-size: 0.9rem;
  }
  .slide ul {
    margin: 1% 0 5% 0;
  }
  .info {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .location {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
  }
  .year {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .ed-info {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .ed-year {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .margin {
    margin-top: 20px;
  }
  #education-content p {
    display: block;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1277px) and (max-width: 1368px) {
  .wrapper {
    display: flexbox;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    height: 98vh;
  }
  #start {
    display: block;
    width: 70%;
    height: 100%;
    margin: auto;
  }
  .top {
    display: block;
    width: 100%;
    height: 30%;
    margin-bottom: 1.7%;
  }
  #profile {
    display: block;
    height: 100%;
    width: 100%;
  }
  #profile-picture {
    float: left;
    vertical-align: top;
    width: 200px;
    height: 200px;
    background-color: beige;
    margin-top: 4.8%;
  }
  #profile-picture img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 200px;
    width: auto;
    display: block;
  }
  #profile-intro {
    margin-top: 4.8%;
    margin-bottom: 2%;
    float: right;
    width: 67%;
    vertical-align: top;
  }
  .hi {
    vertical-align: top;
    font-size: 2.1rem;
    font-weight: 500;
  }
  .contact {
    display: block;
    width: 67%;
    text-align: center;
    float: right;
  }
  .contact-details {
    font-size: 0.95rem;
    font-weight: 100;
    text-align: left;
  }
  .ab {
    display: inline-block;
    width: 230px;
    margin: 0;
  }
  .ab a {
    color: black;
  }
  #profile-intro p {
    font-weight: 100;
    font-size: 1rem;
  }
  #start-directory {
    display: inline-block;
    float: left;
    height: 65%;
    width: 200px;
    vertical-align: top;
    margin-top: 3%;
  }
  #start-directory h1 {
    margin: 0;
  }
  #profile-about {
    display: block;
    width: 100%;
    height: 50%;
  }
  #about-container {
    display: block;
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 4% 3%;
    font-weight: 100;
    font-size: 0.9rem;
  }
  #about-container div {
    font-size: 1rem;
    font-weight: 500;
  }
  #about-container ul {
    -webkit-padding-start: 4%;
            padding-inline-start: 4%;
  }
  #about-container ul li {
    font-weight: 100;
    font-size: 0.9rem;
  }
  .projects {
    display: block;
    text-align: left;
    margin-left: 2%;
    bottom: 19%;
    position: absolute;
    font-size: 2.3rem;
    font-weight: 900;
    color: gray;
  }
  .projects:before {
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .projects:hover:before {
    width: 100%;
  }
  .employment {
    display: block;
    text-align: left;
    margin-left: 2%;
    bottom: 13%;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 900;
    color: gray;
  }
  .employment:before {
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .employment:hover:before {
    width: 100%;
  }
  .education {
    display: block;
    text-align: left;
    margin-left: 2%;
    bottom: 7%;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 900;
    color: gray;
  }
  .education:before {
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .education:hover:before {
    width: 100%;
  }
  #content-box {
    display: inline-block;
    float: right;
    vertical-align: top;
    height: 67%;
    width: 69%;
    overflow-y: scroll;
  }
  #projects-content {
    height: 160%;
  }
  .slide {
    width: 96%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 105%;
    padding: 2.1% 2%;
    scroll-behavior: smooth;
    text-align: left;
    font-weight: 100;
  }
  .slide h5 {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 4% 0 2% 0;
  }
  .slide h3 {
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 0.6em;
  }
  .slide p {
    font-weight: 100;
    font-size: 0.95rem;
    margin: 3% 0 1% 0;
  }
  .slide a {
    margin-right: 10%;
    font-size: 0.9rem;
  }
  .slide ul {
    margin: 1% 0 5% 0;
  }
  .info {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .location {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
  }
  .year {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .ed-info {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .ed-year {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .margin {
    margin-top: 20px;
  }
  #education-content p {
    display: block;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1369px) {
  .wrapper {
    display: flexbox;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    height: 98vh;
  }
  #start {
    display: block;
    width: 65%;
    height: 100%;
    margin: auto;
  }
  .top {
    display: block;
    width: 100%;
    height: 30%;
    margin-bottom: 1.7%;
  }
  #profile {
    display: block;
    height: 100%;
    width: 100%;
  }
  #profile-picture {
    float: left;
    vertical-align: top;
    width: 215px;
    height: 215px;
    background-color: beige;
    margin-top: 4.8%;
  }
  #profile-picture img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 215px;
    width: auto;
    display: block;
  }
  #profile-intro {
    margin-top: 4.8%;
    margin-bottom: 2%;
    float: right;
    width: 67%;
    vertical-align: top;
  }
  .hi {
    vertical-align: top;
    font-size: 2.4rem;
    font-weight: 500;
  }
  .contact {
    display: block;
    width: 67%;
    text-align: center;
    float: right;
  }
  .contact-details {
    font-size: 1rem;
    font-weight: 100;
    text-align: left;
  }
  .ab {
    display: inline-block;
    width: 250px;
    margin: 0;
  }
  .ab a {
    color: black;
  }
  #profile-intro p {
    font-weight: 100;
    font-size: 1rem;
  }
  #start-directory {
    display: inline-block;
    float: left;
    height: 65%;
    width: 215px;
    vertical-align: top;
    margin-top: 3%;
  }
  #start-directory h1 {
    margin: 0;
  }
  #profile-about {
    display: block;
    width: 100%;
    height: 50%;
  }
  #about-container {
    display: block;
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 4% 3%;
    font-weight: 100;
    font-size: 1rem;
  }
  #about-container div {
    font-size: 1.2rem;
    font-weight: 500;
  }
  #about-container ul {
    -webkit-padding-start: 4%;
            padding-inline-start: 4%;
  }
  #about-container ul li {
    font-weight: 100;
    font-size: 0.9rem;
  }
  .projects {
    display: block;
    text-align: left;
    margin-left: 2%;
    bottom: 17%;
    position: absolute;
    font-size: 2.3rem;
    font-weight: 900;
    color: gray;
  }
  .projects:before {
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .projects:hover:before {
    width: 100%;
  }
  .employment {
    display: block;
    text-align: left;
    margin-left: 2%;
    bottom: 11%;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 900;
    color: gray;
  }
  .employment:before {
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .employment:hover:before {
    width: 100%;
  }
  .education {
    display: block;
    text-align: left;
    margin-left: 2%;
    bottom: 5%;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 900;
    color: gray;
  }
  .education:before {
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .education:hover:before {
    width: 100%;
  }
  #content-box {
    display: inline-block;
    float: right;
    vertical-align: top;
    height: 67%;
    width: 69%;
    overflow-y: scroll;
  }
  #projects-content {
    height: 160%;
  }
  .slide {
    width: 96%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 105%;
    padding: 2.1% 2%;
    scroll-behavior: smooth;
    text-align: left;
    font-weight: 100;
  }
  .slide h5 {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 4% 0 2% 0;
  }
  .slide h3 {
    font-weight: 900;
    font-size: 1.8rem;
    margin-top: 0.8em;
  }
  .slide p {
    font-weight: 100;
    font-size: 1rem;
    margin: 3% 0 1% 0;
  }
  .slide a {
    margin-right: 10%;
    font-size: 1rem;
  }
  .slide ul {
    margin: 1% 0 5% 0;
  }
  .info {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .location {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  .year {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .ed-info {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .ed-year {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
    float: right;
  }
  .margin {
    margin-top: 20px;
  }
  #education-content p {
    display: block;
    margin-top: 35px;
  }
}
/*# sourceMappingURL=style.css.map */