html {
    box-sizing: border-box;
    height: 100vh;
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    background:#fff;
    color:#000;
}

///////////////////////////////////////// PHONE /////////////////////////////////////////

@media only screen and (max-width: 600px) {
    * {
        overflow: visible;
    }

    .wrapper {
        width: 100%;
    }
    
    #start {
        display: flexbox;
        width: 420px;
        height: 100%;
        margin: auto;
    }

    ////////////////////////////// TOP //////////////////////////////

    .top {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    #profile {
        display: block;
        width: 100%;
    }
    
    #profile-picture {
        display: block;
        width: 150px;
        height: 150px;        
        margin: 4.8% auto auto auto;
    }
    
    #profile-picture img {
        object-fit: contain;
        height: inherit;
        width: auto;
        display: block;
    }
    
    #profile-intro {
        display: block;
        margin-top: 4.8%;
    }
    
    .hi {
        display: block;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        margin: 5% 0;
    }
    
    #profile-intro p {
        text-align: justify;
        margin: 5% 0;
        font-size: 0.9rem;
        font-weight: 100;
    }

    .contact {
        display: block;
        margin: 7% auto;
    }

    .contact-details {
        display: block;
        font-size: 0.9rem;
        font-weight: 100;
        text-align: left;
        justify-content: center;
    }
      
    .ab {
        display: block;
        width: 200px;
        margin: 1% auto;;
    }
    
    .ab a {
        color: black;
    }

    ////////////////////////////// START //////////////////////////////
    
    #start-directory {
        display: block;
        width: 100%;
    }
    
    #profile-about {
        display: block;
        width: 100%;
        height: 50%;
    }
    
    #about-container {
        display: block;
        width: 100%;
    }

    #about-container div {
        font-size: 1rem;
        margin: 2% 0;
    }

    #about-container ul {
        margin: 1% 0;
        padding-inline-start: 7%;
    }
    
    #about-container ul li {
        font-weight: 100;
        font-size: 0.9rem;
    }
    
    .projects{
        display: none;
        text-align: left;
        margin-left: 2%; 
        bottom: 22%;
        position: absolute;
        font-size: 3.5rem;
        font-weight: 900;
        color: gray;
    }
      
    .employment{
        display: none;
        text-align: left; 
        margin-left: 2%; 
        bottom: 14%;
        position: absolute;
        font-size: 3.5rem;
        font-weight: 900;
        color: gray;
    }
    
    .education{
        display: none;
        text-align: left; 
        margin-left: 2%; 
        bottom: 6%;
        position: absolute;
        font-size: 3.5rem;
        font-weight: 900;
        color: gray;
    }
    
    ////////////////////////////// CONTENT //////////////////////////////
    
    #content-box {
        display: block;
        width: 100%;
    }
    
    #projects-content {
        height: 155%;
    }
    
    .slide {
        width: 100%;
        display: block;
        height: 100%;
        text-align: left;
        font-weight: 100;
    }
    
    .slide h3 {
        font-weight: 900;
        font-size: 2rem;
        margin: 18% 0 8% 0;
        text-align: center;
    }
    
    .slide-block h5 {
        font-weight: 700;
        font-size: 1.2rem;
        margin: 6% 0 2% 0;
    }

    .slide-block p {
        font-weight: 100;
        font-size: 0.9rem;
        margin: 2% 0 1% 0;
        text-align: justify;
    }

    .techstack {
        display: block;
        margin: 2% 0 1% 0;
        font-weight: 500;
        font-size: 0.9rem;
        font-style: italic;
    }
    
    .slide-block a {
        display: inline-block;
        margin-right: 10%;
        font-size: 0.9rem;
        margin: 2% auto 0 0;
    }

    .slide-block ul {
        margin: 4% 0 4% 0;
        padding-inline-start: 7%;
    }

    .slide-block ul li {
        font-size: 0.9rem;
    }

    .slide-block {
        margin-bottom: 10%;
    }
    
    .info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: left;
    }
    
    .location {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: right;
    }
    
    .year {
        width: 100%;
        display: block;
        font-size: 0.9rem;
        font-weight: 100;
        text-align: left;
    }

    .ed-info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: left;
    }

    .ed-year {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: right;
    }
    
    .margin {
        margin-top: 20px;
    }
    
    #education-content p {
        display: block;
        margin-top: 10px;
    }
  }

  ///////////////////////////////////////// TABLET /////////////////////////////////////////

  @media only screen and (min-width: 601px) and (max-width: 800px) {
    * {
        overflow: visible;
    }

    .wrapper {
        width: 100%;
    }
    
    #start {
        width: 600px;
        height: 100%;
        margin: auto;
    }

    ////////////////////////////// TOP //////////////////////////////

    .top {
        display: block;
        width: 100%;
    }
    
    #profile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    
    #profile-picture {
        display: inline-block;
        width: 150px;
        height: 150px;  
        vertical-align: top;      
        margin: 4.8% 0 0 0;
    }
    
    #profile-picture img {
        object-fit: fill;
        height: 150px;
        width: 150px;
        display: block;
    }
    
    #profile-intro {
        display: inline-block;
        vertical-align: top;
        width: 70%;
        height: 150px;
        margin: 4.8% auto 0 auto;
    }
    
    .hi {
        display: block;
        font-size: 2rem;
        font-weight: 500;
        text-align: left;
    }
    
    #profile-intro p {
        text-align: justify;
        margin: 5% 0;
        font-size: 1rem;
        font-weight: 100;
    }

    .contact {
        display: flex;
        width: 100%;
        margin: 5% auto 2% auto;
        justify-content: center;
    }

    .contact-details {
        display: flex;
        font-size: 1rem;
        font-weight: 100;
        width: 90%;
        text-align: left;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
      
    .ab {
        display: inline-block;
        width: 250px;
        margin: 1% auto;
    }
    
    .ab a {
        color: black;
    }

    ////////////////////////////// START //////////////////////////////
    
    #start-directory {
        display: block;
        width: 100%;
    }
    
    #profile-about {
        display: block;
        width: 100%;
        height: 50%;
    }
    
    #about-container {
        display: block;
        width: 100%;
    }

    #about-container div {
        font-size: 1.2rem;
        margin: 2% 0;
    }

    #about-container ul {
        margin: 1% 0;
        padding-inline-start: 7%;
    }
    
    #about-container ul li {
        font-weight: 100;
        font-size: 1rem;
    }
    
    .projects{
        display: none;
        text-align: left;
        margin-left: 2%; 
        bottom: 22%;
        position: absolute;
        font-size: 3.5rem;
        font-weight: 900;
        color: gray;
    }
      
    .employment{
        display: none;
        text-align: left; 
        margin-left: 2%; 
        bottom: 14%;
        position: absolute;
        font-size: 3.5rem;
        font-weight: 900;
        color: gray;
    }
    
    .education{
        display: none;
        text-align: left; 
        margin-left: 2%; 
        bottom: 6%;
        position: absolute;
        font-size: 3.5rem;
        font-weight: 900;
        color: gray;
    }
    
    ////////////////////////////// CONTENT //////////////////////////////
    
    #content-box {
        display: block;
        width: 100%;
    }
    
    #projects-content {
        height: 155%;
    }
    
    .slide {
        width: 100%;
        display: block;
        height: 100%;
        text-align: left;
        font-weight: 100;
    }
    
    .slide h3 {
        font-weight: 900;
        font-size: 2.3rem;
        margin: 10% 0 3% 0;
        text-align: center;
    }
    
    .slide-block h5 {
        font-weight: 700;
        font-size: 1.5rem;
        margin: 2% 0;
    }

    .slide-block p {
        font-weight: 100;
        font-size: 1rem;
        margin: 2% 0 1% 0;
        text-align: justify;
    }

    .techstack {
        display: block;
        margin: 2% 0 1% 0;
        font-weight: 500;
        font-size: 1rem;
        font-style: italic;
    }
    
    .slide-block a {
        display: inline-block;
        margin-right: 10%;
        font-size: 1rem;
        margin: 2% auto 0 0;
    }

    .slide-block ul {
        margin: 4% 0 4% 0;
        padding-inline-start: 7%;
    }

    .slide-block ul li {
        font-size: 1rem;
    }

    .slide-block {
        margin-bottom: 10%;
    }
    
    .info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
    }
    
    .location {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: right;
    }
    
    .year {
        width: 100%;
        display: block;
        font-size: 1rem;
        font-weight: 100;
        text-align: left;
    }

    .ed-info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
    }

    .ed-year {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: right;
    }
    
    .margin {
        margin-top: 20px;
    }
    
    #education-content p {
        display: block;
        margin-top: 10px;
    }
  }


  @media only screen and (min-width: 801px) and (max-width: 1023px) {
    * {
        overflow: visible;
    }

    .wrapper {
        width: 100%;
    }
    
    #start {
        width: 720px;
        height: 100%;
        margin: auto;
    }

    ////////////////////////////// TOP //////////////////////////////

    .top {
        display: block;
        width: 100%;
    }
    
    #profile {
        width: 100%;
        height: 230px;
        display: block;
    }
    
    #profile-picture {
        display: inline-block;
        float: left;
        width: 180px;
        height: 180px;  
        vertical-align: top;      
        margin: 4.8% 0 0 0;
    }
    
    #profile-picture img {
        object-fit: fill;
        height: 180px;
        width: 180px;
        display: block;
    }
    
    #profile-intro {
        display: inline-block;
        float: right;
        vertical-align: top;
        width: 70%;
        // height: 180px;
        margin: 4.8% auto 2% auto;
    }
    
    .hi {
        display: block;
        font-size: 2rem;
        font-weight: 500;
        text-align: left;
    }
    
    #profile-intro p {
        text-align: justify;
        margin: 1% 0;
        font-size: 1rem;
        font-weight: 100;
    }

    .contact {
        display: inline-block;
        float: right;
        vertical-align: top;
        width: 70%;
        // margin: 5% auto 2% auto;
        justify-content: center;
    }

    .contact-details {
        display: inline-block;
        font-size: 1rem;
        font-weight: 100;
        width: 90%;
        text-align: left;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
      
    .ab {
        display: inline-block;
        width: 225px;
        margin: 1% auto;
    }
    
    .ab a {
        color: black;
    }

    ////////////////////////////// START //////////////////////////////
    
    #start-directory {
        display: block;
        width: 100%;
    }
    
    #profile-about {
        display: block;
        width: 100%;
        height: 50%;
    }
    
    #about-container {
        display: block;
        width: 100%;
    }

    #about-container div {
        font-size: 1.2rem;
        margin: 2% 0;
    }

    #about-container ul {
        margin: 1% 0;
        padding-inline-start: 7%;
    }
    
    #about-container ul li {
        font-weight: 100;
        font-size: 1rem;
    }
    
    .projects{
        display: none;
        text-align: left;
        margin-left: 2%; 
        bottom: 22%;
        position: absolute;
        font-size: 3.5rem;
        font-weight: 900;
        color: gray;
    }
      
    .employment{
        display: none;
        text-align: left; 
        margin-left: 2%; 
        bottom: 14%;
        position: absolute;
        font-size: 3.5rem;
        font-weight: 900;
        color: gray;
    }
    
    .education{
        display: none;
        text-align: left; 
        margin-left: 2%; 
        bottom: 6%;
        position: absolute;
        font-size: 3.5rem;
        font-weight: 900;
        color: gray;
    }
    
    ////////////////////////////// CONTENT //////////////////////////////
    
    #content-box {
        display: block;
        width: 100%;
    }
    
    #projects-content {
        height: 155%;
    }
    
    .slide {
        width: 100%;
        display: block;
        height: 100%;
        text-align: left;
        font-weight: 100;
    }
    
    .slide h3 {
        font-weight: 900;
        font-size: 2.3rem;
        margin: 7% 0 3% 0;
        text-align: center;
    }
    
    .slide-block h5 {
        font-weight: 700;
        font-size: 1.5rem;
        margin: 2% 0;
    }

    .slide-block p {
        font-weight: 100;
        font-size: 1rem;
        margin: 2% 0 1% 0;
        text-align: justify;
    }

    .techstack {
        display: block;
        margin: 2% 0 1% 0;
        font-weight: 500;
        font-size: 1rem;
        font-style: italic;
    }
    
    .slide-block a {
        display: inline-block;
        margin-right: 10%;
        font-size: 1rem;
        margin: 2% auto 0 0;
    }

    .slide-block ul {
        margin: 4% 0 4% 0;
        padding-inline-start: 7%;
    }

    .slide-block ul li {
        font-size: 1rem;
    }

    .slide-block {
        margin-bottom: 7.5%;
    }
    
    .info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
    }
    
    .location {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: right;
    }
    
    .year {
        width: 100%;
        display: block;
        font-size: 1rem;
        font-weight: 100;
        text-align: left;
    }

    .ed-info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
    }

    .ed-year {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: right;
    }
    
    .margin {
        margin-top: 20px;
    }
    
    #education-content p {
        display: block;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 1024px) {

    .wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 890px;
        // height: 98vh;
        overflow: hidden;
    }

    #start {
        display: block;
        width: 990px;
        height: 100%;
        margin: auto;
    }

    .top {
        display: block;
        width: 100%;
        height: 32%;
    }

    #profile {
        display: block;
        height: 100%;
        width: 100%;
    }

    #profile-picture {
        // display: inline-block;
        float: left;
        vertical-align: top;
        width: 200px;
        height: 200px;
        background-color: beige;
        // border-radius: 50%;
        margin-top: 4.8%;
    }

    #profile-picture img {
        object-fit: contain;
        height: 200px;
        width: auto;
        display: block;
    }

    #profile-intro {
        // display: inline-block;
        margin-top: 4.8%;
        margin-bottom: 2%;
        float: right;
        width: 67%;
        vertical-align: top;
    }

    .hi {
        vertical-align: top;
        font-size: 2.1rem;
        font-weight: 500;
    }

    .contact {
        display: block;
        width: 67%;
        text-align: center;
        // padding: 3%;
        float: right;
        // margin: 2% 0 2% 0;
    }

    .contact-details {
        font-size: 1rem;
        font-weight: 100;
        text-align: left;
    }

    .ab {
        display: inline-block;
        width: 250px;
        margin: 0;
    }
    
    .ab a {
        color: black;
    }

    #profile-intro p {
        font-weight: 100;
        font-size: 1rem;
    }

    //////////////////////// START ////////////////////////

    #start-directory {
        display: inline-block;
        float: left;
        height: 68%;
        width: 200px;
        vertical-align: top;
        margin-top: 3%;
    }

    #start-directory h1 {
        margin: 0;
    }

    #profile-about {
        display: block;
        width: 100%;
        height: 60%;
    }

    #about-container {
        display: block;
        width: 95%;
        height: 100%;
        // background-color: beige;
        margin: auto;
        padding: 4% 3%;
        font-weight: 100;
        font-size: 0.9rem;
    }

    #about-container div {
        font-size: 1.05rem;
        font-weight: 500;
    }

    #about-container ul {
        padding-inline-start: 4%;
    }

    #about-container ul li {
        font-weight: 100;
        font-size: 1rem;
    }

    #directory {
        height: 30%;
        position: relative;
    }

    .projects{
        // display: none;
        text-align: left;
        margin-left: 2%; 
        top: 10%;
        position: absolute;
        font-size: 2.3rem;
        font-weight: 900;
        color: gray;
    }

    .projects:before{
        content: attr(data-text);
        color: black;
        position: absolute;
        width: 0;
        overflow: hidden;
        transition: 0.9s;
    }
    
    .projects:hover:before{
        width: 100%;
    }
  
    .employment{
        // display: none;
        text-align: left; 
        margin-left: 2%; 
        top: 35%;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 900;
        color: gray;
    }

    .employment:before{
        content: attr(data-text);
        color: black;
        position: absolute;
        width: 0;
        overflow: hidden;
        transition: 0.9s;
    }
    
    .employment:hover:before{
        width: 100%;
    }

    .education{
        // display: none;
        text-align: left; 
        margin-left: 2%; 
        top: 61%;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 900;
        color: gray;
    }

    .education:before{
        content: attr(data-text);
        color: black;
        position: absolute;
        width: 0;
        overflow: hidden;
        transition: 0.9s;
    }
    
    .education:hover:before{
        width: 100%;
    }

    //////////////////////// CONTENT ////////////////////////

    #content-box {
        display: inline-block;
        float: right;
        vertical-align: top;
        height: 69%;
        width: 69%;
        // margin-left: 0.7%;
        overflow-y: scroll;
        
    }

    #projects-content {
        height: auto;
    }

    .slide {
        width: 96%;
        flex-shrink: 0;
        height: auto;
        padding: 3% 2%;
        scroll-behavior: smooth;
        text-align: left;
        font-weight: 100;
    }

    .slide h5 {
        font-weight: 700;
        font-size: 1.2rem;
        margin: 4% 0 2% 0;
    }

    .slide h3 {
        font-weight: 900;
        font-size: 1.7rem;
        margin: 1% 0 3% 0;
    }

    .techstack {
        display: block;
        margin: 2% 0 1% 0;
        font-weight: 500;
        font-size: 1rem;
        font-style: italic;
    }

    .slide p {
        font-weight: 100;
        font-size: 1rem;
        margin: 2% 0 1% 0;
    }

    .slide-block a {
        display: inline-block;
        margin-right: 10%;
        font-size: 1rem;
        margin: 2% auto 0 0;
    }

    .slide-block ul {
        margin: 4% 0 4% 0;
        padding-inline-start: 7%;
    }

    .slide-block ul li {
        font-size: 1rem;
    }

    .slide-block {
        margin-bottom: 6%;
    }
    
    .info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
    }

    .location {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: right;
    }
    
    .year {
        width: 100%;
        display: block;
        font-size: 1rem;
        font-weight: 100;
        text-align: left;
    }

    .ed-info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
    }

    .ed-year {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: right;
    }

    .margin {
    margin-top: 20px;
    }

    #education-content p {
        display: block;
        margin-top: 30px;
    }
  }
