html {
    box-sizing: border-box;
    height: 100vh;
}

* {
    font-family: 'Lato', sans-serif;
    text-align: left;
}

body {
    background:#fff;
    color:#000;
  }

//////////////////////// DIRECTORY ////////////////////////

#start {
    padding-left: 30px;
    padding-top: 10px;
}

.wrapper {
    padding: 30px;
}

.top {
    margin: 0px;
    display: contents;
    font-size: 2rem;
    font-weight: 300;
    width: 300px;
}

.top p {
    width: 300px;
    margin: 0 !important;
    margin-block-end: 0 !important;
    margin-block-start: 0 !important;
}

#start-directory {
    top: 153px;
    float: left;
    height: 450px;
    width: 450px;
    margin-right: 0;
}

.about{
    display: block;
    text-align: left; 
    top: 160px;
    position: absolute;
    font-size: 4rem;
    font-weight: 900;
    color: gray;
}

.about:before{
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}

.about:hover:before{
    width: 100%;
}

.projects{
    display: block;
    text-align: left; 
    top: 250px;
    position: absolute;
    font-size: 4rem;
    font-weight: 900;
    color: gray;
}

.projects:before{
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}

.projects:hover:before{
    width: 100%;
}
  
.employment{
    display: block;
    text-align: left; 
    top: 340px;
    position: absolute;
    font-size: 4rem;
    font-weight: 900;
    color: gray;
}

.employment:before{
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}

.employment:hover:before{
    width: 100%;
}

.education{
    display: block;
    text-align: left; 
    top: 435px;
    position: absolute;
    font-size: 4rem;
    font-weight: 900;
    color: gray;
}

.education:before{
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}

.education:hover:before{
    width: 100%;
}

//////////////////////// CONTENT ////////////////////////

#content-box {
    display: inline-block;
    flex-direction: column;
    height: 631px;
    min-width: 670px;
    max-width: 670px;
    margin-left: 10px;
    // border: 1px solid black;
    overflow-y: scroll;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    padding: 40px 20px 40px 20px;
    scroll-behavior: smooth;
    text-align: center;
    font-weight: 100;
}

.slide h3 {
    font-weight: 900;
}


.slide div {
    width: 33%;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
}

.info {
    font-style: italic;
    text-align: left;
    float: left;
}

.location {
    font-style: italic;
    text-align: center;
}

.year {
    font-style: italic;
    text-align: right;
    float: right;
}

.ab {
    display: inline-block;
    width: 300px;
    margin: 0;
}

.ab a {
    color: black;
}

.margin {
    margin-top: 20px;
}

#education-content p {
    margin-top: 10px;
}


//////////////////////// FOOTER ////////////////////////

#start-icons {
    float: left;
    position: absolute;
    font-size: 1.5rem;
    width: 450px;
    margin-top: 490px;
}

#start-icons .fas {
    margin: 12px;
}

#start-icons .fab {
    margin: 10px
}

#start-icons a {
    text-decoration: none;
    color: #000;
}

