html {
    box-sizing: border-box;
    height: 100vh;
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    background:#fff;
    color:#000;
    margin: 0;
}

// #about-container ul li {
//     white-space: normal;
// }

.active-link {
    color: rgb(255, 31, 115) !important;
    transition: color 0.5s;
}

///////////////////////////////////////// PHONE /////////////////////////////////////////

@media only screen and (max-width: 600px) {
    * {
        overflow: visible;
    }

    .wrapper {
        display: block;
        width: 100%;
        // height: 100vh;
        margin: 0;
        overflow: hidden;
    }
    
    .intro-page {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh !important;
        line-height: 1;
        justify-content: center;
        align-items: center;
        background-color: #0F2027;  /* fallback for old browsers */
        background-color: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background-color: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23f4f3f6' fill-opacity='0.05'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    }
    
    #hello {
        display: block;
        // width: 600px;
        height: 90px;
        margin: 0 auto;
        // margin-top: 300px;
        text-align: center;
        font-size: 1.5rem;
        color: white;
        font-weight: 300;
        white-space: normal;
    }
    
    .inline {
        display: inline;
        margin: 0;
    }
    
    .hello-name {
        // color:rgb(255, 31, 115);
        // color: white;
        background: url(https://i.imgur.com/5ZI9Yl9.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        // font-weight: 600;
        margin-left: -10px;
    }
    
    #goto-btn {
        display: block;
        width: 130px;
        height: 40px;
        border: 1px solid white;
        margin: auto;
        color: white;
        text-align: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }
    
    .intro-page a {
        text-decoration: none;
        font-style: none;
    }
    
    #goto-btn:hover i {
        transform: rotate(90deg)
    }
    
    #goto-btn:hover {
        background-color: rgb(255, 31, 115);
        border-color: rgb(255, 31, 115);
    }
    
    #goto-btn p {
        display: inline;
        line-height: 40px;
        vertical-align: middle;
        font-weight: 300;
        font-size: 0.8rem;
        margin-right: 6px;
    }
    
    .fa-arrow-right {
        // display: inline;
        vertical-align: middle;
        transition: all 0.3s;
        transition-timing-function: ease-in-out;
    }
    
    .fixed {
        position: fixed;
    }
    
    .navigation {
        // position: fixed;
        left: 0px;
        top: 0;
        right: 0px;
        z-index: 1500;
        min-height: 60px;
        padding-right: 30px;
        padding-left: 30px;
        border-bottom: 1px solid #dfdfdf;
        background-color: #fff;
        box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.07);
    }
    
    .navigation-container {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 5;
        margin: auto;
        padding: 3px;
    }
    
    .navbar-brand:hover{
        opacity: 0.8;
    }
    
    .fix-nav {
        display: inline-block;
    }
    
    .nav-item {
        margin-right: 20px;
        font-size: 17px;
    }
    
    .nav-link:hover {
        color: rgb(255, 31, 115) !important;
    }
    
    #content-box {
        // height: 100vh;
        width: 100%;
        display: block;
        // overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
    
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 70px 0;
        scroll-snap-align: start;
        // height: 100vh;
        background-image: linear-gradient(180deg, #f5f7fa, #fff);
    }
    
    .page-section {
        height: auto;
    }
    
    .last {
        height: 945px;
    }

    .content-wrapper {
        display: block;
        margin: auto;
        width: 90%;
        height: 100%;
    }
    
    .title {
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 2.7rem;
        font-weight: 700;
        text-align: center;
        color: rgb(255, 31, 115);
    }
    
    
    .profile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
    
    .profile-block {
        display: block;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 49.9%;
        padding: 35px 0;
    }
    
    .profile-pic-container {
        display: block;
        margin: auto;
        width: 100%;
        height: 200px;
    }
    
    .profile-pic-container img {
        object-fit: contain;
        height: 200px;
        width: 200px;
        border-radius: 12px;
        display: block;
        margin: auto;
    }
    
    .profile-intro {
        display: block;
        width: 250px;
        height: 100%;
        margin: auto;
    }
    
    .profile-intro-content {
        display: block;
        width: 100%;
        height: 60%;
        font-size: 0.9rem;
        padding: 15px 0;
        text-align: justify;
    }
    
    .contact {
        display: block;
        width: 100%;
        height: 39.9%;
        padding: 15px 0;
    }
    
    .contact-block {
        width: 49%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        vertical-align: top;
    }
    
    .contact-block a {
        vertical-align: middle;
        margin: auto;
        font-size: 2rem;
    }
    
    .contact-block a {
        color: rgba(0,0,0,.5);
    }
    
    .contact-block a:hover {
        color: rgb(255, 31, 115);
    }
    
    .skills {
        height: 100%;
        width: 250px;
        margin: auto;
        padding: 15px;
        border: 1px solid #eee;
        border-radius: 12px;
    }
    
    .skills div {
        font-size: 1.1rem;
        margin-bottom: 25px;
        font-weight: 700;
        // color: rgb(255, 31, 115);
    }
    
    .skills ul li {
        font-size: 0.9rem;
    }
    
    .tab-wrapper {
        width: 300px;
        height: 750px;
        display: block;
        margin: 0 auto;
    }
    
    .tab-wrapper ul {
        padding-inline-start: 0;
    }
    
    #tabs {
        width: 100%;
        height: 40px; 
        margin-top: 30px;
    }
    
    #tabs a {
        cursor: pointer;
    }
    
     
    #tabs li {
        float:left; 
        height: 50px;
        width: 49.9%;
        list-style:none; 
        border-top-left-radius:3px;  
        border-top-right-radius:3px;
        outline:none;
        vertical-align: top;
    }
     
    #tabs li a {
        font-weight: 900;
        text-align: left;
        height: 50px;
        border-bottom: 3px solid rgb(255, 31, 115);
        // border-bottom: 3px solid #0F2027;
        color:rgb(255, 31, 115);
        // color: #0F2027;
        padding: 10px 15px;
        font-size: 1.1rem;
        display: block; 
        background: #FFF;
        border-top-left-radius: 3px; 
        border-top-right-radius: 3px; 
        text-decoration: none;
        outline: none;
    }
     
    #tabs li a.inactive-tab{
        padding: 10px 15px;
        color:#666666;
        background: transparent;
        outline:none;
        border-bottom: solid 0.5px #e1e1e1;
    }
     
    .tab-container {
        margin-top: 40px;         
        max-width: 100%; 
        max-height: 700px;
        padding: 15px 0;
        border: solid 0.5px #e1e1e1;
        border-radius: 6px;
        text-align: left;
        overflow: scroll;
    }
    
    .tab-content {
        max-width: 100%;
        display: block;
        margin: 0 25px; 
        overflow: scroll;
    }
    
    .tab-content img {
        min-width: 300px;
        max-width: 300px;
        border: solid 0.5px #e1e1e1;
        border-radius: 6px;
        box-shadow: 0 1px 3px 1px #d1d1d1;
    }
    
    .tab-content h2 {
        font-size: 1.75em;
        color:rgb(255, 31, 115);
        font-weight: 700;
        margin-bottom: 1.1rem;;
    }
    
    .tab-content p {
        font-weight: 100;
        margin-top: 8px;
    }
    
    .ed-info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 0.8rem;
        font-weight: 400;
        text-align: left;
    }
    
    .ed-year {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 0.8rem;
        font-weight: 400;
        text-align: right;
    }
    
    .slide-block {
        width: 100%;
        margin-bottom: 6%;
    }
    
    .slide-block h5 {
        font-weight: 700;
        font-size: 1rem;
        margin: 4% 0 2% 0;
    }

    .slide-block a {
        font-size: 0.9rem;
        font-weight: 100;
    }
    
    .slide-block p {
        font-weight: 100;
        font-size: 0.8rem;
        margin: 2% 0 1% 0;
    }
    
    .slide-block ul {
        margin: 2% 0 4% 0;
        padding-inline-start: 5%;
    }
        
    .slide-block ul li {
        font-size: 0.8rem;
    }
    
    .info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: left;
    }
    
    .location {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: right;
    }
        
    .year {
        width: 100%;
        display: block;
        font-size: 0.9rem;
        font-weight: 100;
        text-align: left;
        margin-top: 5px;
    }
     
    .come-in {
        transform: translateY(150px);
        animation: come-in 1.2s ease forwards;
    }
    
    .come-in:nth-child(odd) {
        animation-duration: 0.8s;
    }
    
    .already-visible {
        transform: translateY(0);
        animation: none;
    }
      
    @keyframes come-in {
        to { transform: translateY(0); }
    }
    
    .projects-container {
        margin-top: 20px;
        max-width: 300px;
        margin: auto;
        height: 600px;
        padding: 15px 35px;
        border: solid 0.5px #e1e1e1;
        border-radius: 6px;
        text-align: left;
        overflow: scroll;
    }

    .project-wrap {
        display: none;
    }
    
    .techstack {
        display: block;
        margin: 2% 0 1% 0;
        font-weight: 500;
        font-size: 0.9rem;
        font-style: italic;
    }
    
}

//   ///////////////////////////////////////// TABLET /////////////////////////////////////////

  @media only screen and (min-width: 601px) and (max-width: 800px) {
    * {
    overflow: visible;
    }

    .wrapper {
        display: block;
        width: 100%;
        // height: 100vh;
        margin: 0;
        overflow: hidden;
    }

    .intro-page {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh !important;
        line-height: 1;
        justify-content: center;
        align-items: center;
        background-color: #0F2027;  /* fallback for old browsers */
        background-color: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background-color: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23f4f3f6' fill-opacity='0.05'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    }

    #hello {
        display: block;
        // width: 600px;
        height: 90px;
        margin: 0 auto;
        // margin-top: 300px;
        text-align: center;
        font-size: 1.9rem;
        color: white;
        font-weight: 300;
        white-space: normal;
    }

    .inline {
        display: inline;
        margin: 0;
    }

    .hello-name {
        // color:rgb(255, 31, 115);
        // color: white;
        background: url(https://i.imgur.com/5ZI9Yl9.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        // font-weight: 600;
        margin-left: -10px;
    }

    #goto-btn {
        display: block;
        width: 170px;
        height: 50px;
        border: 2px solid white;
        margin: auto;
        color: white;
        text-align: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .intro-page a {
        text-decoration: none;
        font-style: none;
    }

    #goto-btn:hover i {
        transform: rotate(90deg)
    }

    #goto-btn:hover {
        background-color: rgb(255, 31, 115);
        border-color: rgb(255, 31, 115);
    }

    #goto-btn p {
        display: inline;
        line-height: 50px;
        vertical-align: middle;
        font-weight: 300;
        font-size: 1rem;
        margin-right: 6px;
    }

    .fa-arrow-right {
        // display: inline;
        vertical-align: middle;
        transition: all 0.3s;
        transition-timing-function: ease-in-out;
    }

    .fixed {
        position: fixed;
    }

    .navigation {
        // position: fixed;
        left: 0px;
        top: 0;
        right: 0px;
        z-index: 1500;
        min-height: 60px;
        padding-right: 30px;
        padding-left: 30px;
        border-bottom: 1px solid #dfdfdf;
        background-color: #fff;
        box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.07);
    }

    .navigation-container {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 5;
        margin: auto;
        padding: 3px;
    }

    .navbar-brand:hover{
        opacity: 0.8;
    }

    .fix-nav {
        display: inline-block;
    }

    .nav-item {
        margin-right: 20px;
        font-size: 17px;
    }

    .nav-link:hover {
        color: rgb(255, 31, 115) !important;
    }

    #content-box {
        // height: 100vh;
        width: 100%;
        display: block;
        // overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 70px 0;
        scroll-snap-align: start;
        // height: 100vh;
        background-image: linear-gradient(180deg, #f5f7fa, #fff);
    }

    .page-section {
        height: auto;
    }

    .last {
        height: 945px;
    }

    .content-wrapper {
        display: block;
        margin: auto;
        width: 90%;
        height: 100%;
    }

    .title {
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 2.7rem;
        font-weight: 700;
        text-align: center;
        color: rgb(255, 31, 115);
    }


    .profile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }

    .profile-block {
        display: block;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 49.9%;
        padding: 35px 0;
    }

    .profile-pic-container {
        display: block;
        margin: auto;
        width: 100%;
        height: 200px;
    }

    .profile-pic-container img {
        object-fit: contain;
        height: 200px;
        width: 200px;
        border-radius: 12px;
        display: block;
        margin: auto;
    }

    .profile-intro {
        display: block;
        width: 490px;
        height: 100%;
        margin: auto;
    }

    .profile-intro-content {
        display: block;
        width: 100%;
        height: 60%;
        font-size: 1rem;
        padding: 15px 0;
        text-align: justify;
    }

    .contact {
        display: block;
        width: 100%;
        height: 39.9%;
        padding: 15px 0;
    }

    .contact-block {
        width: 49%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        vertical-align: top;
    }

    .contact-block a {
        vertical-align: middle;
        margin: auto;
        font-size: 2rem;
    }

    .contact-block a {
        color: rgba(0,0,0,.5);
    }

    .contact-block a:hover {
        color: rgb(255, 31, 115);
    }

    .skills {
        height: 100%;
        width: 490px;
        margin: auto;
        padding: 15px;
        border: 1px solid #eee;
        border-radius: 12px;
    }

    .skills div {
        font-size: 1.1rem;
        margin-bottom: 25px;
        font-weight: 700;
        // color: rgb(255, 31, 115);
    }

    .skills ul li {
        font-size: 1rem;
    }

    .tab-wrapper {
        width: 490px;
        height: 750px;
        display: block;
        margin: 0 auto;
    }

    .tab-wrapper ul {
        padding-inline-start: 0;
    }

    #tabs {
        width: 100%;
        height: 40px; 
        margin-top: 30px;
    }

    #tabs a {
        cursor: pointer;
    }

    
    #tabs li {
        float:left; 
        height: 50px;
        width: 49.9%;
        list-style:none; 
        border-top-left-radius:3px;  
        border-top-right-radius:3px;
        outline:none;
        vertical-align: top;
    }
    
    #tabs li a {
        font-weight: 900;
        text-align: left;
        height: 50px;
        border-bottom: 3px solid rgb(255, 31, 115);
        // border-bottom: 3px solid #0F2027;
        color:rgb(255, 31, 115);
        // color: #0F2027;
        padding: 10px 15px;
        font-size: 1.1rem;
        display: block; 
        background: #FFF;
        border-top-left-radius: 3px; 
        border-top-right-radius: 3px; 
        text-decoration: none;
        outline: none;
    }
    
    #tabs li a.inactive-tab{
        padding: 10px 15px;
        color:#666666;
        background: transparent;
        outline:none;
        border-bottom: solid 0.5px #e1e1e1;
    }
    
    .tab-container {
        margin-top: 40px;         
        max-width: 100%; 
        max-height: 700px;
        padding: 15px 0;
        border: solid 0.5px #e1e1e1;
        border-radius: 6px;
        text-align: left;
        overflow: scroll;
    }

    .tab-content {
        max-width: 100%;
        display: block;
        margin: 0 25px; 
        overflow: scroll;
    }

    .tab-content img {
        min-width: 300px;
        max-width: 300px;
        border: solid 0.5px #e1e1e1;
        border-radius: 6px;
        box-shadow: 0 1px 3px 1px #d1d1d1;
    }

    .tab-content h2 {
        font-size: 1.75em;
        color:rgb(255, 31, 115);
        font-weight: 700;
        margin-bottom: 1.1rem;;
    }

    .tab-content p {
        font-weight: 100;
        margin-top: 8px;
    }

    .ed-info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: left;
    }

    .ed-year {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: right;
    }

    .slide-block {
        width: 100%;
        margin-bottom: 6%;
    }

    .slide-block h5 {
        font-weight: 700;
        font-size: 1.1rem;
        margin: 4% 0 2% 0;
    }

    .slide-block a {
        font-size: 0.9rem;
        font-weight: 100;
    }

    .slide-block p {
        font-weight: 100;
        font-size: 0.9rem;
        margin: 2% 0 1% 0;
    }

    .slide-block ul {
        margin: 2% 0 4% 0;
        padding-inline-start: 5%;
    }
        
    .slide-block ul li {
        font-size: 0.9rem;
    }


    .info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
    }

    .location {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: right;
    }
        
    .year {
        width: 100%;
        display: block;
        font-size: 1rem;
        font-weight: 100;
        text-align: left;
        margin-top: 5px;
    }
    
    .come-in {
        transform: translateY(150px);
        animation: come-in 1.2s ease forwards;
    }

    .come-in:nth-child(odd) {
        animation-duration: 0.8s;
    }

    .already-visible {
        transform: translateY(0);
        animation: none;
    }
    
    @keyframes come-in {
        to { transform: translateY(0); }
    }

    .projects-container {
        margin-top: 20px;
        max-width: 490px;
        margin: auto;
        height: 600px;
        padding: 15px 35px;
        border: solid 0.5px #e1e1e1;
        border-radius: 6px;
        text-align: left;
        overflow: scroll;
    }

    .project-wrap {
        display: none;
    }

    .techstack {
        display: block;
        margin: 2% 0 1% 0;
        font-weight: 500;
        font-size: 1rem;
        font-style: italic;
    }
}


@media only screen and (min-width: 801px) and (max-width: 1023px) {
    
    .wrapper {
        display: block;
        width: 100%;
        // height: 100vh;
        margin: 0;
        overflow: hidden;
    }

    .intro-page {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        line-height: 1;
        justify-content: center;
        align-items: center;
        background-color: #0F2027;  /* fallback for old browsers */
        background-color: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background-color: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23f4f3f6' fill-opacity='0.05'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    }

    #hello {
        display: block;
        // width: 600px;
        height: 120px;
        margin: 0 auto;
        // margin-top: 300px;
        text-align: center;
        font-size: 40px;
        color: white;
        font-weight: 300;
        white-space: normal;
    }

    .inline {
        display: inline;
        margin: 0;
    }

    .hello-name {
        // color:rgb(255, 31, 115);
        // color: white;
        background: url(https://i.imgur.com/5ZI9Yl9.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        // font-weight: 600;
        margin-left: -10px;
    }

    #goto-btn {
        display: block;
        width: 190px;
        height: 50px;
        border: 2px solid white;
        margin: auto;
        color: white;
        text-align: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .intro-page a {
        text-decoration: none;
        font-style: none;
    }

    #goto-btn:hover i {
        transform: rotate(90deg)
    }

    #goto-btn:hover {
        background-color: rgb(255, 31, 115);
        border-color: rgb(255, 31, 115);
    }

    #goto-btn p {
        display: inline;
        line-height: 45px;
        vertical-align: middle;
        font-weight: 300;
        font-size: 19px;
        margin-right: 6px;
    }

    .fa-arrow-right {
        // display: inline;
        vertical-align: middle;
        transition: all 0.3s;
        transition-timing-function: ease-in-out;
    }

    .fixed {
        position: fixed;
    }

    .navigation {
        // position: fixed;
        left: 0px;
        top: 0;
        right: 0px;
        z-index: 1500;
        min-height: 60px;
        padding-right: 30px;
        padding-left: 30px;
        border-bottom: 1px solid #dfdfdf;
        background-color: #fff;
        box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.07);
    }

    .navigation-container {
        display: block;
        position: relative;
        height: 100%;
        width: 1100px;;
        z-index: 5;
        margin: auto;
        padding: 3px;
    }

    .navbar-brand:hover{
        opacity: 0.8;
    }

    .fix-nav {
        display: inline-block;
    }

    .nav-item {
        margin-right: 20px;
        font-size: 17px;
    }

    .nav-link:hover {
        color: rgb(255, 31, 115) !important;
    }

    #content-box {
        // height: 100vh;
        width: 100%;
        display: block;
        // overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 120px 0;
        scroll-snap-align: start;
        // height: 100vh;
        background-image: linear-gradient(180deg, #f5f7fa, #fff);
    }

    .page-section {
        height: 938px;
    }

    .last {
        height: 945px;
    }

    .content-wrapper {
        display: block;
        margin: auto;
        width: 750px;
        height: 100%;
    }

    .title {
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 2.7rem;
        font-weight: 700;
        text-align: center;
        color: rgb(255, 31, 115);
    }


    .profile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }

    .profile-block {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 49.9%;
        padding: 35px 0;
    }

    .profile-pic-container {
        display: inline-flex;
        vertical-align: top;
        width: 33%;
        height: 285px;
        vertical-align: top;
    }

    .profile-pic-container img {
        object-fit: contain;
        height: 220px;
        width: auto;
        border-radius: 12px;
        display: block;
    }

    .profile-intro {
        display: inline-block;
        width: 66%;
        height: 100%;
    }

    .profile-intro-content {
        display: block;
        width: 100%;
        height: 60%;
        font-size: 1.1rem;
        padding: 15px 0;
    }

    .contact {
        display: block;
        width: 100%;
        height: 39.9%;
        padding: 15px 0;
    }

    .contact-block {
        width: 24.24%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        vertical-align: top;
    }

    .contact-block a {
        vertical-align: middle;
        margin: auto;
        font-size: 2rem;
    }

    .contact-block a {
        color: rgba(0,0,0,.5);
    }

    .contact-block a:hover {
        color: rgb(255, 31, 115);
    }

    .skills {
        height: 100%;
        width: 30%;
        padding: 15px;
        border: 1px solid #eee;
        border-radius: 12px;
    }

    .skills div {
        font-size: 1.2rem;
        margin-bottom: 15px;
        font-weight: 700;
        // color: rgb(255, 31, 115);
    }

    .skills ul {
        padding-inline-start: 20px;
    }

    .skills ul li {
        font-size: 1rem;
        padding-inline-start: 0;
    }

    .tab-wrapper {
        width: 750px;
        height: 750px;
        display: block;
        margin: 0 auto;
    }

    .tab-wrapper ul {
        padding-inline-start: 0;
    }

    #tabs {
        width: 100%;
        height: 40px; 
        margin-top: 30px;
    }

    #tabs a {
        cursor: pointer;
    }

    
    #tabs li {
        float:left; 
        height: 50px;
        width: 49.9%;
        list-style:none; 
        border-top-left-radius:3px;  
        border-top-right-radius:3px;
        outline:none;
        vertical-align: top;
    }
    
    #tabs li a {
        font-weight: 900;
        text-align: left;
        height: 50px;
        border-bottom: 3px solid rgb(255, 31, 115);
        // border-bottom: 3px solid #0F2027;
        color:rgb(255, 31, 115);
        // color: #0F2027;
        padding: 10px 15px;
        font-size: 1.1rem;
        display: block; 
        background: #FFF;
        border-top-left-radius: 3px; 
        border-top-right-radius: 3px; 
        text-decoration: none;
        outline: none;
    }
    
    #tabs li a.inactive-tab{
        padding: 10px 15px;
        color:#666666;
        background: transparent;
        outline:none;
        border-bottom: solid 0.5px #e1e1e1;
    }
    
    .tab-container {
        margin-top: 40px;         
        max-width: 100%; 
        max-height:700px;
        padding: 15px 35px;
        border: solid 0.5px #e1e1e1;
        border-radius: 6px;
        text-align: left;
        overflow: scroll;
    }

    .tab-content {
        max-width: 100%;
        display: block;
        margin: 0 25px; 
        overflow: scroll;
    }

    .tab-content img {
        min-width: 300px;
        max-width: 300px;
        border: solid 0.5px #e1e1e1;
        border-radius: 6px;
        box-shadow: 0 1px 3px 1px #d1d1d1;
    }

    .tab-content h2 {
        font-size: 1.75em;
        color:rgb(255, 31, 115);
        font-weight: 700;
        margin-bottom: 15px;
    }

    .tab-content p {
        font-weight: 100;
        margin-top: 8px;
    }

    .ed-info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1.1rem;
        font-weight: 400;
        text-align: left;
    }

    .ed-year {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1.1rem;
        font-weight: 400;
        text-align: right;
    }

    .slide-block {
        margin-bottom: 6%;
    }

    .slide-block h5 {
        font-weight: 700;
        font-size: 1.3rem;
        margin: 4% 0 2% 0;
    }

    .slide p {
        font-weight: 100;
        font-size: 1rem;
        margin: 2% 0 1% 0;
    }

    .slide-block ul {
        margin: 2% 0 4% 0;
        padding-inline-start: 5%;
    }
        
    .slide-block ul li {
        font-size: 1rem;
    }

    .info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
    }

    .location {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: right;
    }
        
    .year {
        width: 100%;
        display: block;
        font-size: 1rem;
        font-weight: 100;
        text-align: left;
        margin-top: 5px;
    }
    
    .come-in {
        transform: translateY(150px);
        animation: come-in 1.2s ease forwards;
    }

    .come-in:nth-child(odd) {
        animation-duration: 0.8s;
    }

    .already-visible {
        transform: translateY(0);
        animation: none;
    }
    
    @keyframes come-in {
        to { transform: translateY(0); }
    }

    .projects-container {
        margin-top: 20px;
        max-width: 100%;
        height: 600px;
        padding: 15px 35px;
        border: solid 0.5px #e1e1e1;
        border-radius: 6px;
        text-align: left;
        overflow: scroll;
    }

    .project-wrap {
        display: none;
    }

    .techstack {
        display: block;
        margin: 2% 0 1% 0;
        font-weight: 500;
        font-size: 1rem;
        font-style: italic;
    }

}

@media only screen and (min-width: 1024px) {

    .wrapper {
        display: block;
        width: 100%;
        // height: 100vh;
        margin: 0;
        overflow: hidden;
    }

    .intro-page {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        line-height: 1;
        justify-content: center;
        align-items: center;
        background-color: #0F2027;  /* fallback for old browsers */
        background-color: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background-color: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23f4f3f6' fill-opacity='0.05'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    }

    #hello {
        display: block;
        // width: 600px;
        height: 120px;
        margin: 0 auto;
        // margin-top: 300px;
        text-align: center;
        font-size: 48px;
        color: white;
        font-weight: 300;
        white-space: normal;
    }

    .inline {
        display: inline;
        margin: 0;
    }

    .hello-name {
        // color:rgb(255, 31, 115);
        // color: white;
        background: url(https://i.imgur.com/5ZI9Yl9.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        // font-weight: 600;
        margin-left: -10px;
    }

    #goto-btn {
        display: block;
        width: 190px;
        height: 50px;
        border: 2px solid white;
        border-radius: 6px;
        margin: auto;
        color: white;
        text-align: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .intro-page a {
        text-decoration: none;
        font-style: none;
    }

    #goto-btn:hover i {
        transform: rotate(90deg)
    }

    #goto-btn:hover {
        background-color: rgb(255, 31, 115);
        border-color: rgb(255, 31, 115);
    }

    #goto-btn p {
        display: inline;
        line-height: 45px;
        vertical-align: middle;
        font-weight: 300;
        font-size: 19px;
        margin-right: 6px;
    }

    .fa-arrow-right {
        // display: inline;
        vertical-align: middle;
        transition: all 0.3s;
        transition-timing-function: ease-in-out;
    }

    .fixed {
        position: fixed;
    }

    .navigation {
        // position: fixed;
        left: 0px;
        top: 0;
        right: 0px;
        z-index: 1500;
        min-height: 60px;
        padding-right: 30px;
        padding-left: 30px;
        border-bottom: 1px solid #dfdfdf;
        background-color: #fff;
        box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.07);
    }

    .navigation-container {
        display: block;
        position: relative;
        height: 100%;
        width: 1100px;;
        z-index: 5;
        margin: auto;
        padding: 3px;
    }

    .navbar-brand:hover{
        opacity: 0.8;
    }

    .fix-nav {
        display: inline-block;
    }

    .nav-item {
        margin-right: 20px;
        font-size: 17px;
    }

    .nav-link:hover {
        color: rgb(255, 31, 115) !important;
    }

    #content-box {
        // height: 100vh;
        width: 100%;
        display: block;
        // position: relative;
        // overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 120px 0;
        scroll-snap-align: start;
        // height: 100vh;
        background-image: linear-gradient(180deg, #f5f7fa, #fff);
    }

    .page-section {
        height: 880px;
    }

    .last {
        height: 945px;
    }

    .content-wrapper {
        display: block;
        margin: auto;
        width: 950px;
        height: 100%;
    }

    .title {
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 2.7rem;
        font-weight: 700;
        text-align: center;
        color: #0F2027;
        margin-bottom: 40px;
    }


    .profile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }

    .profile-block {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 49.9%;
        // padding: 35px 0;
    }

    .profile-pic-container {
        display: inline-flex;
        vertical-align: top;
        width: 33%;
        height: 285px;
        vertical-align: top;
    }

    .profile-pic-container img {
        object-fit: contain;
        height: 280px;
        width: auto;
        border-radius: 6px;
        display: block;
    }

    .profile-intro {
        display: inline-block;
        width: 66%;
        height: 100%;
    }

    .profile-intro-content {
        display: block;
        width: 100%;
        height: 50%;
        font-size: 1.1rem;
        padding: 15px 0;
    }

    .contact {
        display: block;
        width: 100%;
        height: 39.9%;
        padding: 15px 0;
    }

    .contact-block {
        width: 24.24%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        vertical-align: top;
    }

    .contact-block a {
        vertical-align: middle;
        margin: auto;
        font-size: 2rem;
    }

    .contact-block a {
        color: rgba(0,0,0,.5);
    }

    .contact-block a:hover {
        color: rgb(255, 31, 115);
    }

    .skills {
        height: 100%;
        width: 30%;
        padding: 25px;
        // border: 1px solid #e1e1e1;
        border-radius: 6px;
    }

    .skills div {
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        margin-bottom: 25px;
        font-weight: 500;
        // color: rgb(255, 31, 115);
    }

    .skills ul {
        padding-inline-start: 5%;
    }

    .skills ul li {
        font-size: 1rem;
    }

    .tab-wrapper {
        width: 950px;
        height: 750px;
        display: block;
        margin: 0 auto;
    }

    .tab-wrapper ul {
        padding-inline-start: 0;
    }

    #tabs {
        width: 100%;
        height: 40px; 
        margin-top: 30px;
    }

    #tabs a {
        cursor: pointer;
    }

    
    #tabs li {
        float:left; 
        height: 50px;
        width: 49.9%;
        list-style:none; 
        border-top-left-radius:3px;  
        border-top-right-radius:3px;
        outline:none;
        vertical-align: top;
    }
    
    #tabs li a {
        font-weight: 900;
        text-align: left;
        height: 50px;
        border-bottom: 3px solid rgb(255, 31, 115);
        // border-bottom: 3px solid #0F2027;
        color:rgb(255, 31, 115);
        // color: #0F2027;
        padding: 10px 15px;
        font-size: 1.1rem;
        display: block; 
        background: #FFF;
        border-top-left-radius: 3px; 
        border-top-right-radius: 3px; 
        text-decoration: none;
        outline: none;
    }
    
    #tabs li a.inactive-tab{
        padding: 10px 15px;
        color:#666666;
        background: transparent;
        outline:none;
        border-bottom: solid 0.5px #e1e1e1;
    }
    
    .tab-container {
        margin-top: 40px;         
        max-width: 100%; 
        max-height:700px;
        padding: 15px 35px;
        border: solid 0.5px #e1e1e1;
        border-radius: 6px;
        text-align: left;
        background-color: white;
        overflow: scroll;
    }

    .tab-content {
        max-width: 100%;
        display: block;
        margin: 0 25px; 
        overflow: scroll;
    }

    .tab-content img {
        min-width: 300px;
        max-width: 300px;
        border: solid 0.5px #e1e1e1;
        border-radius: 6px;
        box-shadow: 0 1px 3px 1px #d1d1d1;
    }

    .tab-content h2 {
        font-size: 1.75em;
        color:rgb(255, 31, 115);
        font-weight: 700;
        margin-bottom: 15px;
    }

    .tab-content p {
        font-weight: 100;
        margin-top: 8px;
    }

    .ed-info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1.1rem;
        font-weight: 400;
        text-align: left;
    }

    .ed-year {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1.1rem;
        font-weight: 400;
        text-align: right;
    }

    // .slide-block {
    //     margin-bottom: 6%;
    // }

    .slide-block ul {
        margin: 2% 0 4% 0;
        padding-inline-start: 5%;
    }
        
    .slide-block ul li {
        font-size: 1rem;
    }

    .info {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
    }

    .location {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        font-weight: 400;
        text-align: right;
    }
        
    .year {
        width: 100%;
        display: block;
        font-size: 1rem;
        font-weight: 100;
        text-align: left;
        margin-top: 5px;
    }
    
    .come-in {
        transform: translateY(150px);
        animation: come-in 1.2s ease forwards;
    }

    .come-in:nth-child(odd) {
        animation-duration: 0.8s;
    }

    .already-visible {
        transform: translateY(0);
        animation: none;
    }
    
    @keyframes come-in {
        to { transform: translateY(0); }
    }

    .projects-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .project-wrap {
        position: relative;
        display: block;
        width: 32%;
        height: 47%;
        border: 1px solid #e1e1e1;
        border-radius: 6px;
    }

    .project-wrap img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        opacity: 0.8;
    }

    .projects-mobile {
        display: none;
    }

    .project-info {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        // transition: opacity 600ms, visibility 600ms;
    }

    .back {
        width: 100%;
        height: 100%; 
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255); 
        z-index: 2; 
        border-radius: 6px;
    }

    .project-info .slide-block {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
    }

    .project-wrap:hover .project-info {
        visibility: visible;
        opacity: 1;
        animation: fade 1s;
    }

    .project-info .slide-block {
        padding: 15px;
    }

    .slide-block h5 {
        font-weight: 700;
        font-size: 1.1rem;
        margin: 4% 0 2% 0;
    }

    .slide-block p {
        font-weight: 100;
        font-size: 0.9rem;
        margin: 2% 0 1% 0;
    }

    .slide-block a {
        font-weight: 100;
        font-size: 0.9rem; 
    }

    .hidden {
        border: none;
    }

    .techstack {
        display: block;
        margin: 2% 0 1% 0;
        font-weight: 500;
        font-size: 0.9rem;
        font-style: italic;
    }
}
