html {
    box-sizing: border-box;
    height: 100vh;
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    background:#fff;
    color:#000;
    margin: 0;
}


.active-link {
    color: #08fdd8 !important;
    transition: color 0.5s;
}

.wrapper {
    display: block;
    width: 100%;
    // height: 100vh;
    margin: 0;
    overflow: hidden;
}

.intro-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    line-height: 1;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23333333' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%234d4d4d'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

#hello {
    display: block;
    margin: 0 auto;
    font-size: 48px;
    color: white;
    font-weight: 700;
    white-space: normal;
    text-align: left;
    font-size: 48px;
}

#hello div {
    margin-bottom: 10px;
}

#goto-href {
    display: block;
    margin-top: 20px;
}

#goto-btn {
    display: block;
    width: 190px;
    height: 50px;
    border: 2px solid #08fdd8;
    border-radius: 6px;
    margin: auto;
    color: #08fdd8;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.intro-page a {
    text-decoration: none;
    font-style: none;
}

#goto-btn:hover i {
    transform: rotate(90deg)
}

#goto-btn:hover {
    background-color: #08fdd8;
    color: #191919;
}

#goto-btn p {
    display: inline;
    line-height: 45px;
    vertical-align: middle;
    font-weight: 300;
    font-size: 19px;
    margin-right: 6px;
}

.fa-arrow-right {
    // display: inline;
    vertical-align: middle;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
}

.fixed {
    position: fixed;
}

.navigation {
    // position: fixed;
    left: 0px;
    top: 0;
    right: 0px;
    z-index: 1500;
    max-height: 65px;
    padding: 3px 30px !important;
    // border-bottom: 1px solid #dfdfdf;
    background-color: #222222;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.07);
    // opacity: 0.9;
}

.material-icons-outlined.md-36,
.material-icons.material-icons--outlined {
    font-family: 'Material Icons Outlined';
    font-size: 34px;
}       

.navigation-container {
    display: block;
    position: relative;
    height: 100%;
    max-width: 1100px;;
    z-index: 5;
    margin: auto;
    padding: 3px;
}

.navbar-nav {
    width: 300px;
    height: 65px;
    justify-content: space-between;
    margin: auto;
}

.navbar-collapse {
    justify-content: center;
}

.nav-item {
    margin: auto;
    font-size: 17px;
    width: 80px;
    text-align: center;
}


.nbar-link {
    color: rgba(255,255,255,.5);
}

.nav-link:hover {
    color: #08fdd8 !important;
    transition: color 0.5s;
}

#content-box {
    // height: 100vh;
    width: 100%;
    display: block;
    // position: relative;
    // overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 110px 0;
    scroll-snap-align: start;
    // height: 100vh;
    background-color: #191919;
    color: rgb(191, 191, 191);
    // color: rgb(225, 225, 225);
    // background-image: linear-gradient(180deg, #212121, #292929);
}

.page-section {
    height: 880px;
}

.last {
    height: 960px;
}

.content-wrapper {
    display: block;
    margin: auto;
    width: 950px;
    height: 100%;
}

.title {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    font-size: 60px;
    text-align: left;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.profile-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}

.profile-pic-container {
    display: block;
    width: 200px;
    height: 285px;
}

.profile-pic-container img {
    object-fit: contain;
    height: 190px;
    width: auto;
    display: block;
}

.profile-intro {
    display: block;
    width: 75%;
    height: 195px;
}

.profile-intro-content {
    display: block;
    width: 100%;
    height: 50%;
    font-size: 1.05rem;
    color: rgb(216, 216, 216);
}

.contact {
    display: block;
    padding-top: 30px;
}

.contact-block {
    // width: 24.24%;
    // height: 100%;
    display: inline-flex;
    margin-right: 60px;
    justify-content: center;
    align-content: center;
    vertical-align: top;
}

.contact-block a {
    vertical-align: middle;
    margin: auto;
    font-size: 2rem;
}

.contact-block a {
    color: #fff;
    transition: all .3s;
}

.contact-block a:hover {
    color: #08fdd8;
    transform: scale(1.2);
}

.skills-block {
    width: 270px;
    padding-top: 50px;
}

.skills {
    font-size: 1rem;
    font-weight: 100;
}

.skills div {
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.skills ul {
    padding-inline-start: 0%;
    list-style-type: none;
}

.emp-edu-block {
    width: 630px;
}

.tab-wrapper {
    // width: 950px;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

.tab-wrapper ul {
    padding-inline-start: 0;
}

#tabs {
    width: 100%;
    height: 40px; 
    margin-top: 20px;
}

#tabs a {
    cursor: pointer;
}


#tabs li {
    float:left; 
    height: 50px;
    width: 49.9%;
    list-style:none; 
    border-top-left-radius:3px;  
    border-top-right-radius:3px;
    outline:none;
    vertical-align: top;
}

#tabs li a {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    height: 43px;
    border-bottom: 3px solid #08fdd8;
    // border-bottom: 3px solid #0F2027;
    color:#fff;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 1rem;
    display: block; 
    background: rgba(40, 40, 40, .8);
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px; 
    text-decoration: none;
    outline: none;
}

#tabs li a.inactive-tab{
    padding: 10px 15px;
    color:#666666;
    background: transparent;
    outline:none;
    border-bottom: solid 0.5px #e1e1e1;
}

.tab-container {        
    margin-top: 10px;         
    max-width: 100%; 
    max-height: 350px;
    padding: 10px 15px;
    border-radius: 6px;
    text-align: left;
    overflow: scroll;
}

.tab-content {
    max-width: 100%;
    display: block;
    margin: 0 10px; 
    overflow: scroll;
}

.tab-content p {
    font-weight: 100;
    margin-top: 12px;
    font-size: 0.9rem;
}

.ed-info {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.ed-year {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
}

.slide-block ul {
    // margin: 2% 0 4% 0;
    padding-inline-start: 5%;
    // list-style: disc outside none;
}
    
.slide-block ul li {
    font-size: 1rem;
}

.tab-content .slide-block div {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: #fff;
}

.info {
    text-align: left;
    width: 60%;
}

.location {
    text-align: right;
    width: 39%;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 1.2s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 0.8s;
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to { transform: translateY(0); }
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.project-wrap {
    position: relative;
    display: block;
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
    // border: 1px solid #e1e1e1;
    // border-radius: 6px;
}

.project-wrap img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    // border-radius: 6px; 
}

.projects-mobile {
    display: none;
}

.project-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.project-info .slide-block {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222222;
    color: white;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s linear;
    text-align: center;
}

.project-wrap:hover .slide-block {
    opacity: 1;
}

.project-info .slide-block {
    padding: 25px;
}

.project-info .slide-block h5 {
    margin-bottom: 5%;
    text-decoration: underline;
    font-size: 1.5rem;
}

.slide-block h5 {
    font-weight: 700;
    font-size: 1.4rem;
    margin: 2% 0;
    color: #fff;
}

.slide-block .project-about {
    // position: absolute;
    // top: 115px;
    font-weight: 100;
    font-size: 0.9rem;
    margin: 5% 0 1% 0;
    text-align: justify;
}

.view-on a {
    font-weight: 100;
    font-size: 0.9rem; 
    // background-color: #08fdd8;
    border: 1px solid #08fdd8;
    padding: 5px 10px;
    border-radius: 6px;
    color: #08fdd8;
    text-decoration: none;
    transition: all .3s;
}

.view-on a:hover {
    background-color: #08fdd8;
    color: #222222;
}

.view-on {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
}

.hidden {
    border: none;
}

.techstack {
    display: block;
    margin: 2% 0 1% 0;
    font-weight: 500;
    font-size: 0.8rem;
    font-style: italic;
}

// ///////////////////////////////////////// PHONE /////////////////////////////////////////

@media only screen and (max-width: 600px) {
    // * {
    // overflow: visible;
    // }

    #hello {
        text-align: center;
        font-size: 40px;
    }
    
    .title {
        font-size: 45px;
        text-align: center;
    }

    .content-wrapper {
        width: 100%;
    }

    .profile-pic-container {
        display: none;
    }

    .profile-block {
        justify-content: space-around;
        height: 300px;
    }

    .profile-intro {
        width: 80%;
    }

    .profile-intro-content {
        word-wrap: break-word;
        height: 225px;
    }

    .contact {
        text-align: center;
    }

    .contact-block {
        margin: 0 15px;
    }

    .emp-edu-block {
        display: none;
    }

    .skills-block {
        width: 80%;
    }

    .projects-container {
        justify-content: space-around;
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .project-wrap {
        margin: 15px;
    }
}

// //   ///////////////////////////////////////// TABLET /////////////////////////////////////////

  @media only screen and (min-width: 601px) and (max-width: 800px) {
    * {
    overflow: visible;
    }

    #hello {
        font-size: 42px;
    }

    .title {
        text-align: center;
    }


    .profile-block {
        justify-content: space-around;
        height: 230px;
        width: 100%;
    }

    .content-wrapper {
        width: 100%;
    }

    .profile-pic-container {
        display: block;
        width: 190px;
        height: 190px;
        margin-right: 15px;
    }

    .profile-pic-container img {
        height: 190px;
    }

    .profile-intro {
        display: block;
        width: 65%;
        margin-left: 15px;
    }

    .profile-intro-content {
        word-wrap: break-word;
        height: 225px;
    }

    .contact {
        text-align: left;
        padding-top: 10px;
    }

    .contact-block {
        margin: 0 15px;
    }

    .emp-edu-block {
        display: none;
        width: 69%;
    }

    .skills-block {
        display: block;
        text-align: center;
        width: 100%;
    }

    .projects-container {
        justify-content: space-around;
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .project-wrap {
        margin: 15px;
    }
}


@media only screen and (min-width: 801px) and (max-width: 1023px) {
    
    .content-wrapper {
        width: 90%;
    }

    .projects-container {
        justify-content: space-around;
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .project-wrap {
        margin: 25px auto;
    }

}

@media only screen and (min-width: 1024px) {
    
}
