html {
    box-sizing: border-box;
    height: 100vh;
}

* {
    font-family: 'Lato', sans-serif;
    text-align: left;
}

body {
    background:#fff;
    color:#000;
  }

//////////////////////// DIRECTORY ////////////////////////

#start {
    // padding-left: 30px;
    // padding-top: 10px;
    display: block;
    width: 70%;
    height: 100%;
    margin: auto;
}

.wrapper {
    // padding: 30px;
    display: flexbox;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.top {
    display: block;
    width: 100%;
    height: 30%;
    margin-bottom: 1.7%;
}

#profile {
    display: block;
    height: 100%;
    width: 98%;
    margin-left: 2%;
}

#profile-picture {
    display: inline-block;
    vertical-align: bottom;
    width: 200px;
    height: 200px;
    background-color: beige;
    // border-radius: 50%;
    margin-top: 4.8%;
}

#profile-picture img {
    object-fit: contain;
    height: 200px;
    width: auto;
    display: block;
}

#profile-intro {
    display: inline-block;
    margin-left: 7.1%;
    width: 75%;
    height: 200px;
    vertical-align: bottom;
}

#profile-intro h1 {
    vertical-align: top;
    font-weight: 500;
}

#profile-intro p {
    font-weight: 100;
}

#start-directory {
    display: inline-block;
    height: 68%;
    width: 39%;
    vertical-align: top;
}

#profile-about {
    display: block;
    width: 100%;
    height: 50%;
}

#about-container {
    display: block;
    width: 95%;
    height: 100%;
    // background-color: beige;
    margin: auto;
    padding: 4% 3%;
}

#about-container ul li {
    font-weight: 100;
}

.projects{
    display: block;
    text-align: left;
    margin-left: 2%; 
    bottom: 22%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
}

.projects:before{
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}

.projects:hover:before{
    width: 100%;
}
  
.employment{
    display: block;
    text-align: left; 
    margin-left: 2%; 
    bottom: 14%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
}

.employment:before{
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}

.employment:hover:before{
    width: 100%;
}

.education{
    display: block;
    text-align: left; 
    margin-left: 2%; 
    bottom: 6%;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    color: gray;
}

.education:before{
    content: attr(data-text);
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
}

.education:hover:before{
    width: 100%;
}

//////////////////////// CONTENT ////////////////////////

#content-box {
    display: inline-block;
    vertical-align: top;
    height: 68%;
    width: 60%;
    margin-left: 0.7%;
    overflow-y: scroll;
}

#projects-content {
    height: 155%;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    padding: 2.1% 2%;
    scroll-behavior: smooth;
    text-align: left;
    font-weight: 100;
}

.slide h3 {
    font-weight: 900;
}


.slide div {
    width: 33%;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
}

.slide h5 {
    font-weight: 700;
}

.slide a {
    margin-right: 10%;
}

.info {
    // font-style: italic;
    text-align: left;
    float: left;
}

.location {
    // font-style: italic;
    text-align: center;
}

.year {
    // font-style: italic;
    text-align: right;
    float: right;
}

.ab {
    display: inline-block;
    width: 300px;
    margin: 0;
}

.ab a {
    color: black;
}

.margin {
    margin-top: 20px;
}

#education-content p {
    margin-top: 10px;
}


//////////////////////// FOOTER ////////////////////////

#start-icons {
    display: inline-block;
    height: 20%;
    font-size: 1.5rem;
    width: 100%;
    // vertical-align: top;
}

#start-icons .fas {
    margin: 12px;
}

#start-icons .fab {
    margin: 10px
}

#start-icons a {
    text-decoration: none;
    color: #000;
}

