html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

* {
  font-family: 'Raleway', sans-serif;
}

body {
  background: #fff;
  color: #000;
  margin: 0;
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  70% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  70% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.noscroll::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.active-link {
  color: #08fdd8 !important;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.banner {
  position: fixed;
  top: 0;
  padding: 10px;
  background-color: #ebebeb;
  width: 100%;
  height: 80px;
  font-size: 16px;
  text-align: center;
}

.banner div {
  margin: 5px 0;
}

.intro-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  line-height: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23333333' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%234d4d4d'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-position: center;
  background-size: fill;
}

#hello {
  display: block;
  margin: 0 auto;
  font-size: 48px;
  color: white;
  font-weight: 700;
  white-space: normal;
  text-align: left;
  font-size: 48px;
}

#hello div {
  margin-bottom: 10px;
}

.hello1 {
  -webkit-animation: moveInRight .7s ease-out;
          animation: moveInRight .7s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hello2 {
  -webkit-animation: moveInRight .7s ease-out .1s;
          animation: moveInRight .7s ease-out .1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hello3 {
  -webkit-animation: moveInRight .7s ease-out .2s;
          animation: moveInRight .7s ease-out .2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#goto-href {
  display: block;
  margin-top: 20px;
}

#goto-btn {
  display: block;
  width: 190px;
  height: 50px;
  border: 2px solid #08fdd8;
  border-radius: 6px;
  margin: auto;
  color: #08fdd8;
  text-align: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
  -webkit-animation: moveInBottom 0.5s ease-out .6s;
          animation: moveInBottom 0.5s ease-out .6s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.intro-page a {
  text-decoration: none;
  font-style: none;
}

#goto-btn:hover i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#goto-btn:hover {
  background-color: #08fdd8;
  color: #191919;
}

#goto-btn p {
  display: inline;
  line-height: 45px;
  vertical-align: middle;
  font-weight: 300;
  font-size: 19px;
  margin-right: 6px;
}

.fa-arrow-right {
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.fixed {
  position: fixed;
  top: 80px !important;
}

.navigation {
  left: 0px;
  right: 0px;
  z-index: 1500;
  max-height: 65px;
  padding: 3px 30px !important;
  background-color: #222222;
  -webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.07);
}

.material-icons-outlined.md-36,
.material-icons.material-icons--outlined {
  font-family: 'Material Icons Outlined';
  font-size: 34px;
}

.navigation-container {
  display: block;
  position: relative;
  height: 100%;
  max-width: 1100px;
  z-index: 5;
  margin: auto;
  padding: 3px;
}

.navbar-nav {
  width: 300px;
  height: 65px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item {
  margin: auto;
  font-size: 17px;
  width: 80px;
  text-align: center;
}

.nbar-link {
  color: rgba(255, 255, 255, 0.5);
}

.nav-link:hover {
  color: #08fdd8 !important;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

#content-box {
  width: 100%;
  display: block;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 110px 0;
  scroll-snap-align: start;
  background-color: #191919;
  color: #bfbfbf;
}

.page-section {
  height: 880px;
}

.last {
  height: 960px;
}

.content-wrapper {
  display: block;
  margin: auto;
  width: 950px;
  height: 100%;
}

.title {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  font-size: 60px;
  text-align: left;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.profile-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 200px;
}

.profile-pic-container {
  display: block;
  width: 200px;
  height: 285px;
}

.profile-pic-container img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 190px;
  width: auto;
  display: block;
}

.profile-intro {
  display: block;
  width: 75%;
  height: 195px;
}

.profile-intro-content {
  display: block;
  width: 100%;
  height: 50%;
  font-size: 1.05rem;
  color: #d8d8d8;
}

.contact {
  display: block;
  padding-top: 30px;
}

.contact-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  vertical-align: top;
}

.contact-block a {
  vertical-align: middle;
  margin: auto;
  font-size: 2rem;
}

.contact-block a {
  color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact-block a:hover {
  color: #08fdd8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.skills-block {
  width: 270px;
  padding-top: 50px;
}

.skills {
  font-size: 1rem;
  font-weight: 100;
}

.skills div {
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.skills ul {
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
  list-style-type: none;
}

.emp-edu-block {
  width: 630px;
}

.tab-wrapper {
  max-height: 400px;
  display: block;
  margin: 0 auto;
}

.tab-wrapper ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

#tabs {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

#tabs a {
  cursor: pointer;
}

#tabs li {
  float: left;
  height: 50px;
  width: 49.9%;
  list-style: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  outline: none;
  vertical-align: top;
}

#tabs li a {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  height: 43px;
  border-bottom: 3px solid #08fdd8;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 1rem;
  display: block;
  background: rgba(40, 40, 40, 0.8);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-decoration: none;
  outline: none;
}

#tabs li a.inactive-tab {
  padding: 10px 15px;
  color: #666666;
  background: transparent;
  outline: none;
  border-bottom: solid 0.5px #e1e1e1;
}

.tab-container {
  margin-top: 10px;
  max-width: 100%;
  max-height: 350px;
  padding: 10px 15px;
  border-radius: 6px;
  text-align: left;
  overflow: scroll;
}

.tab-content {
  max-width: 100%;
  display: block;
  margin: 0 10px;
}

.tab-content p {
  font-weight: 100;
  margin-top: 12px;
  font-size: 0.9rem;
}

.ed-info {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.ed-year {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
}

.slide-block ul {
  -webkit-padding-start: 5%;
          padding-inline-start: 5%;
}

.slide-block ul li {
  font-size: 1rem;
}

.tab-content .slide-block div {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #fff;
}

.info {
  text-align: left;
  width: 60%;
}

.location {
  text-align: right;
  width: 39%;
}

.come-in {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  -webkit-animation: come-in 1.2s ease forwards;
          animation: come-in 1.2s ease forwards;
}

.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.already-visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes come-in {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes come-in {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.project-wrap {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  margin-bottom: 25px;
}

.project-wrap img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.projects-mobile {
  display: none;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.project-info .slide-block {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222222;
  color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  text-align: center;
}

.project-wrap:hover .slide-block {
  opacity: 1;
}

.project-info .slide-block {
  padding: 25px;
}

.project-info .slide-block h5 {
  margin-bottom: 5%;
  text-decoration: underline;
  font-size: 1.5rem;
}

.slide-block h5 {
  font-weight: 700;
  font-size: 1.4rem;
  margin: 2% 0;
  color: #fff;
}

.slide-block .project-about {
  font-weight: 100;
  font-size: 0.9rem;
  margin: 5% 0 1% 0;
  text-align: justify;
}

.view-on a {
  font-weight: 100;
  font-size: 0.9rem;
  border: 1px solid #08fdd8;
  padding: 5px 10px;
  border-radius: 6px;
  color: #08fdd8;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.view-on a:hover {
  background-color: #08fdd8;
  color: #222222;
}

.view-on {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
}

.hidden {
  border: none;
}

.techstack {
  display: block;
  margin: 2% 0 1% 0;
  font-weight: 500;
  font-size: 0.8rem;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  #hello {
    text-align: center;
    font-size: 40px;
  }
  .title {
    font-size: 45px;
    text-align: center;
  }
  .content-wrapper {
    width: 100%;
  }
  .profile-pic-container {
    display: none;
  }
  .profile-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 300px;
  }
  .profile-intro {
    width: 80%;
  }
  .profile-intro-content {
    word-wrap: break-word;
    height: 225px;
  }
  .contact {
    text-align: center;
  }
  .contact-block {
    margin: 0 15px;
  }
  .emp-edu-block {
    display: none;
  }
  .skills-block {
    width: 80%;
  }
  .projects-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .project-wrap {
    margin: 15px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  * {
    overflow: visible;
  }
  #hello {
    font-size: 42px;
  }
  .title {
    text-align: center;
  }
  .profile-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 230px;
    width: 100%;
  }
  .content-wrapper {
    width: 100%;
  }
  .profile-pic-container {
    display: block;
    width: 190px;
    height: 190px;
    margin-right: 15px;
  }
  .profile-pic-container img {
    height: 190px;
  }
  .profile-intro {
    display: block;
    width: 65%;
    margin-left: 15px;
  }
  .profile-intro-content {
    word-wrap: break-word;
    height: 225px;
  }
  .contact {
    text-align: left;
    padding-top: 10px;
  }
  .contact-block {
    margin: 0 15px;
  }
  .emp-edu-block {
    display: none;
    width: 69%;
  }
  .skills-block {
    display: block;
    text-align: center;
    width: 100%;
  }
  .projects-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .project-wrap {
    margin: 15px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1023px) {
  .content-wrapper {
    width: 90%;
  }
  .projects-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .project-wrap {
    margin: 25px auto;
  }
}
/*# sourceMappingURL=style.css.map */